.edit-project {
    margin-top: 40px;
}
.edit-project {
    &__bars {
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
            margin-bottom: 0;
            color: $primary;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
        }

        .btn-primary {
            border-radius: 30px;
            padding: 8px 32px;
            font-weight: 600;
            font-size: 16px;
            svg {
                margin-right: 8px;
            }
        }
    }
    &__content {
        .time-line {
            background-color: #06152e;
            height: 100%;
            padding: 12px;
            // flex-basis: 25%;
            &__item {
                // margin-bottom: 32px;
                &--number {
                    font-size: 24px;
                    color: $primary;
                    font-weight: 700;
                }
                &--content {
                    text-align: center;
                    p {
                        font-weight: 600;
                        margin-bottom: 8px;
                        &.label-eng {
                            color: #9db5db;
                            margin-top: 12px;
                        }
                        &.label-vn {
                            color: #009c3e;
                        }
                    }
                }
            }
            input {
                background-color: transparent;
                text-align: center;
                font-weight: 600;
                color: #fff;
                border: none;
                border-radius: 3px;
                width: 100%;
                &:focus-visible {
                    outline: 1px solid $primary;
                }
            }
        }
        .translate-main {
            background-color: hsl(218, 77%, 10%);
            position: relative;
            padding: 10px;
            &__item {
                margin-bottom: 32px;
                .line-bar {
                    width: 5px;
                    height: 100%;
                    background-color: $primary;
                    border-radius: 8px;
                }
                .content-trans {
                    font-size: 13px;
                    line-height: 19.5px;
                    span {
                        font-weight: 700;
                    }
                    .writter {
                        padding: 8px 12px;
                    }
                    .content-trans__eng {
                        color: $primary;
                        margin-bottom: 16px;
                    }
                    .content-trans__vn {
                        background-color: #112445;
                        color: #9db5db;
                        margin-bottom: 0;
                        width: 100%;
                        border: none;
                    }
                }
                &--sub {
                    // border-left: 5px solid $primary;
                    // border-radius: 8px;
                    padding-left: 16px;
                }
            }
            &__option {
                background-color: #112445;
                border-radius: 5px;
                padding: 8px 10px 16px;
                select {
                    background: #112445;
                    border: 1px solid #384660;
                    box-sizing: border-box;
                    border-radius: 5px;
                    width: 100%;
                    color: #e9e9e9;
                    font-size: 14px;
                    margin-bottom: 16px;
                }
                .icon-down {
                    position: absolute;
                    top: 50%;
                    right: 16px;
                    color: #e9e9e9;
                    transform: translateY(-50%);
                }
                .range-sliders {
                    .btn {
                        font-size: 15px;
                        white-space: nowrap;
                    }
                }
            }
            &.active {
                .translate-main__item {
                    .translate-main__item--sub {
                        position: relative;
                        &:before {
                            content: "";
                            position: absolute;
                            left: 0;
                            width: 5px;
                            height: 100%;
                            background-color: $primary;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
        .scroll-sticky {
            top: 20px;
            position: sticky;
        }
        .audio-view {
            img {
                margin-bottom: 16px;
            }
            audio {
                width: 100%;
                margin-bottom: 16px;
            }
            &__control {
                margin-bottom: 50px;
                background-color: #112445;
                border-radius: 10px;
                padding: 18px 20px;
                &--item {
                    margin-bottom: 24px;
                    display: flex;
                    align-items: center;
                    label {
                        flex-basis: 35%;
                        font-size: 13px;
                        font-weight: 600;
                    }
                    .range-slider {
                        flex-basis: 65%;
                    }
                    /* Special styling for WebKit/Blink */
                    input[type="range"] {
                        height: 4px;
                        border-radius: 8px;
                    }
                    input[type="range"]::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        height: 16px;
                        width: 16px;
                        border-radius: 50%;
                        background: $primary;
                        cursor: pointer;
                    }

                    /* All the same stuff for Firefox */
                    input[type="range"]::-moz-range-thumb {
                        height: 16px;
                        width: 16px;
                        border-radius: 50%;
                        background: $primary;
                        cursor: pointer;
                    }

                    /* All the same stuff for IE */
                    input[type="range"]::-ms-thumb {
                        height: 16px;
                        width: 16px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
            }
            .btn-primary {
                font-size: 16px;
                font-weight: 600;
                padding: 16px 70px;
                border-radius: 30px;
                svg {
                    margin-right: 12px;
                }
            }
        }
        .list-project {
            .row {
                &:nth-child(1) {
                    .time-line {
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                    .translate-main {
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                }
                &:nth-last-child(1) {
                    .time-line {
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                    .translate-main {
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                }
            }
        }
    }
}
.modal-content {
    background-color: #112445;
    border-radius: 20px;
}
.modal-header {
    border: none;
    border-radius: unset;
}
.modal-body {
    padding: 0 40px 40px;
    .modal-title {
        font-weight: bold;
        font-size: 24px;
        color: #ffffff;
        margin-bottom: 52px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        img {
            margin-right: 20px;
        }
        &--content {
            h3 {
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 4px;
            }
            p {
                font-size: 12px;
                font-weight: 600;
                color: #5b6f8a;
                margin-bottom: 0;
            }
            .checktype {
                font-weight: 600;
                font-size: 12px;
            }
        }
    }
}
.divide-share{
    width: 1px;
    height:24px;
    background-color: #273A58;
    margin-left: 20px;
    margin-right: 20px;
}
.share-inside{
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    padding: 12px 16px;
    border: 1px solid #384660;
    background: #0A1D3B;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: .25);
    .dropdown-menu{
        background: #0A1D3B;
        border-radius: 5px;
        padding: 12px 20px;
        border: 1px solid #273A58;
        min-width: 364px;
        .dropdown-item{
            &:hover, &:focus{
                background-color: #112445;
            }
        }
    }
    .pronun{
        &__title{
            color: $primary;
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 4px;
        }
        &__description{
            color: $des!important;
            margin-bottom: 16px;
            font-size: 14px;
        }
        .origin{
            margin-bottom: 24px;
            span{
                font-weight: 400;
                font-size: 16px;
                color: $white;
            }
            .full{
                flex-grow: 1;
                margin-left: 16px;
                background: #FFCF71;
                mix-blend-mode: hard-light;
            }   
            img{
                margin-left: 24px;
            }
        }
        p{
            font-size: 14px;
            color: $white;
            margin-bottom: 16px;
        }
        &__checkbox{
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            color: $white;
            label{
                font-weight: 400;
                font-size: 14px;
            }
        }
        &.tone{
            min-width: 480px;
            color: $white;
            &__item{
                &--list{
                    .title{
                        font-weight: 400;
                        font-size: 13px;
                        margin-bottom: 12px;
                    }
                }
            }
            .type-tone{
                display: flex;
                align-items: center;
                &__item{
                    &.or{
                        color: #384660;
                        font-size: 12px;
                        margin: 0 8px;
                    }
                    .btn-type-tone{
                        color: #9DB5DB;
                        padding: 3px 12px;
                        border-radius: 4px;
                        background-color: #384660;
                        font-size: 12px;
                        font-weight: 400;
                        &.active{
                            background-color: $primary;
                            color: $white;
                        }
                    }
                    &.tone-setting{
                        .btn{
                            padding: 0.375rem 0.25rem;
                            font-size: 5px;
                            &:nth-child(1){
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                            }
                            &:nth-child(2){
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                            }
                        }
                        .input-heio{
                            width: 30px;
                            margin-bottom: 0;
                            height: 25px;
                            margin: 0 8px;
                            padding: 4px;
                            text-align: center;
                        }
                        .db{
                            font-size: 12px;
                            color: #9DB5DB;
                        }
                    }
                }
            }
        }
        .tone__item--list{
            margin-bottom: 20px;
        }
        .dropdown-item{
            color: $white;
        }
    }
}