.footer{
  padding: 40px 0;
  background: #001B52;
  &__logo{
    margin-bottom: 12px;
  }
  &__brand{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  &__description{
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
  }
  .btn-primary{
    border-radius: 30px;
    font-size: 1.125rem;
    padding: 16px 60px;
    font-weight: 600;
    margin-bottom: 3.75rem;
  }
  &__item{
    margin: 0 50px;
    padding: 8px 16px;
    font-size: 20px;
    color: $white;
    font-weight: 600;
    display: block;
    text-decoration: none ;
    &:hover{
      color: $primary;
      transition: .3s;
    }
  }
}