.header{
  .bg-light{
    padding: .75rem 0;
    background-color: #06152E!important;
  }
  .navbar-brand{
    img{
      width: 56px;
    }
  }
  .user-form{
    margin-left: 50px;
    img{
      width: 56px;
    }
    .dropdown-menu{
      min-width: 24rem;
      .dropdown-item{
        padding: 8px 24px;
        font-size: 15px;
        font-weight: 500;
        &:hover{
          background-color: rgba($color: #e9ecef, $alpha: .3);
          color: #fff;
        }
        svg{
          margin-right: 20px;
        }
      }
    }
    .dropdown-toggle{
      &:after{
        content: none;
      }
    }
    .remain-content{
      padding: 8px 24px;
    }
    .profile{
      &__name{
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 4px;
      }
      &__email{
        font-size: 0.875rem;
        margin-bottom: 8px;
      }
      &__bar{
        height: 14px;
        width: 100%;
        background-color: rgba($color: $des, $alpha: .3);
        position: relative;
        border-radius: 30px;
        &--line{
          position: absolute;
          left: 0;
          top: 0;
          background-color: $primary;
          display: block;
          height: 100%;
          border-radius: 30px;
        }
      }
    }
    .remain{
      &__title{
        font-size: 0.875rem;
        font-weight: bold;
        margin-bottom: 0;
        span{
          color: $primary;
        }
      }
      &__description{
       font-size: .75rem;
       margin-bottom: 0;
       font-weight: 700;
      }
      
    }
    .btn-recharge{
      color: $success;
      font-size: 15px;
      font-weight: 600;
      padding: 8px 20px;
      background-color: $white;
      border: 2px solid $success;
      border-radius: 30px;
    }
    hr{
      background-color: #273A58;
      opacity: 1;
      &.per-half{
        margin-left: 24px;
        margin-right: 24px;
      }
    }
  }
  .btn-primary{
    padding: 12px 32px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 700;
  }
  &__item{
    color: #Fff;
    font-weight: 500;
    text-decoration: none;
    padding: 8px 24px;
    &:hover{
      transition: .3s;
      color: $primary;
    }
  }
}
.top-page{
  .header{
    .bg-light{
      background-color: transparent!important;
    }
  }
}
.block-pronun{
  &__item{
    .label{
      margin-right: 40px;
    }

  }
  .col-6{
    .block-pronun__item{
      .label{
        margin-right: 85px;
      }
    }
  }
  .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
    padding: 8px;
    border-radius: 4px;
  }
  .select2-container{
    width: 100%!important;
  }
  .select2-container--default .select2-selection--single{
    border-radius: 4px;
    padding:4px 8px!important;
  }
}
.modal-body{
  &.my-project{
    .block-pronun{
      .btn-primary{
        font-size: 16px;
        padding: 6px 16px;
        border-radius: 4px;
      }
    }
  }
}
.modal-header{
  &__description{
    font-size: 14px;
    color: #9DB5DB;
    font-weight: 600;
    padding-left: 38px;
    padding-top: 20px;
    margin-bottom: 28px;
  }
}