.top-page{
  &__title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
    span{
      color: #FEFD50;
    }
  }
  &__description{
    font-size: 1rem;
    margin-top: 2rem;
  }
  &__head{
    .btn-primary{
      padding: 16px 32px;
      font-weight: 600;
      border-radius: 30px;
      margin: auto;
      font-size: 1rem;
      margin-bottom: 42px;
      svg{
        margin-left: 1rem;
      }
    }
  }
  &__video{
    &--frame{

    }
    &--languages{
      margin: -24px 20px 32px;
      .language-item{
        text-align: center;
        // padding: 12px 20px;
        &__flag{
          width: 72px;
          height: 72px;
          border-radius: 50%;
          object-fit: cover;
          margin: auto;
          margin-bottom: 8px;
        }
        p{
          font-size: 14px;
          color: #Fff;
          font-weight: 500;
        }
      }
    }
  }
  .audio-view{
    img{
        margin-bottom: 16px;
    }
    audio{
        width: 100%;
        margin-bottom: 16px;
    }
    &__control{
        margin-bottom: 0;
        background-color: #112445;
        border-radius: 10px;
        padding: 18px 20px;
        &--item{
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            &:nth-last-child(1){
              margin-bottom: 0;
            }
            label{
                flex-basis: 35%;
                font-size: 13px;
                font-weight: 600;
            }
            .range-slider{
                flex-basis: 65%;
            }
            /* Special styling for WebKit/Blink */
            input[type=range]{
                height: 4px;
                border-radius: 8px;
            }
            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background: $primary;
                cursor: pointer;
            }
            
            /* All the same stuff for Firefox */
            input[type=range]::-moz-range-thumb {
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background: $primary;
                cursor: pointer;
            }
            
            /* All the same stuff for IE */
            input[type=range]::-ms-thumb {
                height: 16px;
                width: 16px;
                border-radius: 50%;
                cursor: pointer;
            }
        }
        
    }
    .btn-primary{
        font-size: 16px;
        font-weight: 600;
        padding: 16px 70px;
        border-radius: 30px;
        svg{
            margin-right: 12px;
        }
    }
  }
  &__about{
    padding: 80px 0;
    &--title{
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 12px;
    }
    &--description{
      font-size: 1rem;
      margin-bottom: 3.75rem;
      font-weight: 400;
    }
    &--item{
      .title{
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 24px;
      }
      .description{
        font-size: 0.875rem;
      }
    }
  }
}
@media (min-width:1200px){
  .top-page{
    &__description{
      max-width: 80%;
      margin: auto;
      margin-bottom: 3.125rem;
    }
    &__head{
      .btn-primary{
        margin-bottom: 60px;
      }
    }
    &__about{
      &--description{
        max-width: 80%;
        margin: auto;
        margin-bottom: 5rem;
      }
    }
  }
}