@import "footer";
@import "header";
@import "edit-project";
@import "my-project";
@import "new-project";
@import "price";
@import "sign-in";
@import "main";
@import "one-page";

body {
  background-color: #0a1d3b;
  &.top-page {
    background: linear-gradient(180deg, #0d0b61 0%, #4058ab 100%);
    background-repeat: no-repeat;
  }
}
