.my-project{
  .title{
    margin-top: 60px;
    margin-bottom: 55px;
    font-weight: bold;
    font-size: 52px;
    color: $primary;
  }
  &__content{
    .empty-project{
      text-align: center;
      margin-top: 130px;
      img{
        margin-bottom: 40px;
      }
      p{
        font-weight: 600;
        font-size: 24px;
        color: #516580;
      }
    }
  }
  .table{
    color: #Fff;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
    border-collapse: separate;
    border-spacing: 0 5px;
    thead{
      th{
        color: #5B6F8A;
        font-weight: bold;
        font-size: 16px;
        .styled-checkbox+label:before{
          margin-top: 2px;
        }
      }
     
    }
    tbody{
     tr{
       background-color: #112445;
     }
      td:first-child { 
       border-top-left-radius: 10px;
       border-bottom-left-radius: 10px;

     }
     td:last-child { 
      border-top-right-radius: 10px; 
      border-bottom-right-radius: 10px; 
    }
     td:first-child { 
      border-bottom-left-radius: 10px; 
      border-top-left-radius: 10px;
    }
     td:last-child {
       border-bottom-right-radius: 10px;
       border-top-right-radius: 10px;
       }
    }
    .styled-checkbox+label:before{
        border-color: #5B6F8A;
    }
    .styled-checkbox+label:before{
      margin-right: 21px;
    }
    .status{
      position: relative;
      &__bars{
        position: relative;
        width: 125px;
        height: 40px;
        display: block;
        background-color: #Fff;
        padding: 8px ;
        text-align: center;
        border: 3px solid;
        border-radius: 30px;
        font-weight: bold;
        font-size: 12px;
        &.complete{
          background: #A0F2C1;
          color: #007D32;
          border-color: #007D32;
        }
        &.inprogress{
          background-color: #fff;
          color: #0094E8;
          border-color: #0094E8;
          .line-bar{
            display: block;
            background-color: #9CDBFF;
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            line-height: 34px;
            border-radius: 30px;
          }
        }
        &.remain{
          background: #FEA9A9;
          color: #DF2C2C;
          border-color: #DF2C2C;
         
        }
      }
      
    }
  }
  .table>:not(caption)>*>*{
    border-bottom-width: 0;
    box-shadow: none;
    padding: 18px 32px;
  }
  .table>:not(:first-child){
    border-top: 0;
  }
}
.modal-body{
  &.my-project{
    img{
      margin-bottom: 40px;
    }
    .title{
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 16px;
      margin-top: 0;
    }
    p{
      margin-bottom: 40px;
      font-size: 14px;
    }
    .btn-primary{
      font-weight: 600;
      font-size: 20px;
      padding: 16px 86px;
      border-radius: 30px;
    }
  }
  &.rename{
    .title{
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 24px;
      margin-top: 0;
      color: #fff;
    }
    input{
      border: 2px solid #38B3F9;
      box-sizing: border-box;
      border-radius: 30px;
      height: 56px;
      padding: 16px 24px;
      font-size: 16px;
      color: #Fff;
      background-color: transparent;
      width: 100%;
      margin-bottom: 40px;
    }
  }
}
@media (min-width:1600px){
  .my-project{
    .title{
      margin-top: 70px;
      margin-bottom: 75px;
      font-size: 72px;
    }
  }
}