.new-project{
  .title{
    margin-top: 2.5rem;
    font-weight: bold;
    font-size: 2.5rem;
    color: $primary;
    margin-bottom: 1rem;
  }
  .description{
    margin-bottom: 2.5rem;
  }
  &__content{
    &--import{
      display: flex;
      .position-relative{
        width: 100%;
        margin-right: 12px;
      }
      .fas{
        position: absolute;
        top: 50%;
        left: 24px;
        font-size: 18px;
        transform: translateY(-50%);
        color: #5B6F8A;
      }
      input{
        background: #112445;
        border: 2px solid #273A58;
        box-sizing: border-box;
        border-radius: 50px;
        font-weight: 600;
        font-size: 1.25rem;
        padding: 1rem 32px;
        padding-left: 3.25rem;
        color: $primary;
        width: 100%;
        height: 60px;
        outline: none;
        &:focus-visible{
          border-color: $primary;
        }
      }
      input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #5B6F8A;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #5B6F8A;
        opacity:  1;
      }
      input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #5B6F8A;
        opacity:  1;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    #5B6F8A;
      }
      input::-ms-input-placeholder { /* Microsoft Edge */
        color:    #5B6F8A;
      }
      
      input::placeholder { /* Most modern browsers support this now. */
        color:    #5B6F8A;
      }
      .btn-primary{
        font-weight: bold;
        font-size: 1rem;
        color: #Fff;
        padding: 1rem 48px;
        border-radius: 50px;
        height: 60px;
      }
      .btn-primary.disabled, .btn-primary:disabled{
        background-color: #1A3462;
        border-color: #1A3462;
      }
    }
    .import-btn{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 24px;
      margin-bottom: 2rem;
      .btn-primary{
        padding: .5rem 2.625rem;
        font-weight: 600;
        font-size: 1rem;
        border-radius: 50px;
        height: 52px;
      }
    }
    .select-option{
      select{
        background: #112445;
        border: 1px solid #384660;
        box-sizing: border-box;
        border-radius: 5px;
        width: 100%;
        color: #E9E9E9;
        font-size: 14px;
        margin-bottom: 16px;
        padding: 18px 28px;
        border-radius: 50px;
      }
      .icon-down{
        position: absolute;
        top: 50%;
        right:32px;
        color: #E9E9E9;
        transform: translateY(-50%);
      }
    }
  }
  .voice-name{
    font-weight: 600;
    font-size: 1.125;
    text-align: center;
    margin-bottom: 16px;
    
  }
  .translate-main__option{
    padding: 13px 1.5rem;
    background: #112445;  
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 16px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .submit-btn{
    text-align: center;
    margin: 24px 0;
    .btn-submit{
      padding: 1rem 7rem;
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 27px;
      color: #9DA5BC;
      border-radius: 50px;
    }
  }
}
.progressbar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 20px;
	.percent {
		position: relative;
	}
	svg {
		position: relative;
		width: 220px;
		height: 220px;
		transform: rotate(-90deg);
		circle {
			width: 100%;
			height: 100%;
			fill: none;
			stroke: #E9E9E9;
			stroke-width: 12;
			stroke-linecap: round;
			&:last-of-type {
				stroke-dasharray: 625px;
				stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
				stroke: $primary;
			}
		}
	}
	.number {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		h3 {
			font-weight: 500;
			font-size: 3.5rem;
      color: $primary;
			span {
				font-size: 2rem;
			}
		}
	}
  &__title{
    margin-top: 32px;
    font-size: 18px;
    color: #818181;
    font-weight: 500;
  }
  &__delete{
    svg{
      width: 32px;
      height: 32px;
      margin-top: 40px;
    }
    &:hover{
      svg{
        path{
          transition: .3s;
          fill: #787878;
        }
      }
    }
  }
}
