.download {
    &__content {
        width: 840px;
        margin: 60px auto;
        &--video{
            margin-top: 50px;
            text-align: center;
            button{
                padding: 12px 24px;
                border-radius: 30px;
                font-size: 15px;
                font-weight: 500;
                width: 220px;
                white-space: nowrap;
                &.btn-back{
                    background-color: #1A3462;
                    color: #Fff;
                    margin-left: 24px;
                }
            }
        }
    }
}