.price{
  &__content{
    .table>:not(caption)>*>*{
      border-bottom-width: 0;
      padding: 1.5rem 1.5rem;
    }
    .table{
      font-size: 15px;
      color: #fff;
      .label-cover{
        color: $success;
        font-weight: 600;
        font-style: italic;
      }
      thead{
        color: #5B6F8A;
        th{
          text-align: center;
          &:nth-child(1){
            text-align: left;
          } 
        }
      }
      tbody{
        border-top: 1px solid #33425D;
        tr{
          &:nth-child(1){
            td{
              padding-top: 3rem;
            }
          }
          td{
            text-align: center;
            &:nth-child(1){
              text-align: left;
            }
          }
        }
      }
      .text-hight{
        white-space: nowrap;
        color: $primary;
        font-weight: 500;
        font-style: italic;
      }
    }
    &--item{
      margin-bottom: 32px;
      padding: 2rem 2.25rem;
      .date{
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 20px;
      }
      .item-price{  
        font-weight: bold;
        font-size: 2.2rem;
        color: $success;
        margin-bottom: 16px;
        span{
          color: #Fff;
          font-size: 1rem;
        }
      }
      .description{
        font-weight: bold;
        font-size: 0.875rem;
        margin-bottom: 16px;
        span{
          color: #5B6F8A;
        }
      }
      .method{
        font-size: 0.875;
        margin-bottom: 0  ;
        span{
          color: #5B6F8A;
        }
      }
      .btn-primary{
        font-weight: 600;
        font-size: 15px;
        padding: 1rem 1.3rem;
        border-radius: 5px;
        white-space: nowrap;
      }
    }
  }
}