.sign{
  background-image: url('../img/background-sign.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 40px;
  &__title{
    font-size: 32px;
    padding-top: 40px;
    margin-bottom: 24px;
  }
  &__content{
    font-size: 14px;
    max-width: 35rem;
    margin: 5rem auto;
    padding: 3rem 2.5rem;
    border-radius: 20px;
    background-color: $white;
    position: relative;
    padding-bottom: 24px;
    &--logo{
      width: 90px;
      position: absolute;
      top: -9%;
      left: 50%;
      transform: translateX(-50%);
    }
    .form-label{
      font-weight: 600;
      color: #000;
      padding-left: 16px;
      margin-bottom: 12px;
    }
    .form-control{
      font-size: 14px;
      font-weight: 600;
      padding: 14px 1.5rem;
      border-radius: 30px;
      border: 1px solid #E0E0E0;
    }
    .form-check{
      padding-left: 16px;
      margin-bottom: 20px;
      label{
        color: #818181;
        font-size: 13px;
      }
    }
    .forgot-pass{
      padding-left: 16px;
      margin-bottom: 24px;
      color: #818181;
      font-size: 13px;
      display: block;

    }
    .btn{
      width: 100%;
      height: 52px;
      &.btn-primary{
        border-radius: 30px;
        font-weight: 600;
        padding: 14px 32px;
        margin-bottom: 20px;
      }
      &.btn-google{
        padding: 12px 32px;
        font-weight: 600;
        text-align: center;
        border-radius: 30px;
        border: 1px solid #C4C4C4;
        justify-content: center;
        img{
          margin-right: 16px;
        }
      }
    }
    &--policy{
      text-align: center;
      margin-top: 32px;
      .description{
        font-size: 14px;
        font-weight: 600;
        color: #818181;
        margin-bottom: 0;
      }
      .check-account{
        font-size: 14px;
        font-weight: 400;
        color: #818181;
        margin-bottom: 4px;
        a{
          font-weight: 600;
          color: $primary;
        }
      }
    }
  }
}
.sign-up-send{
  display: flex;
  align-items: center;
  &__content{
    max-width: 36rem;
    text-align: center;
    margin:auto;
    padding: 4rem;
    border-radius: 30px;
    background-color: $white;
    position: relative;
    &--ico{
      margin-bottom: 2rem;
    }
    .notice{
      font-size: 1.25rem;
      margin-bottom: 3rem;
      &__label{
        color: #A4A4A4;
        margin-bottom: 8px;
      }
      &__email{
        color: #000;
        margin-bottom: 0;
        font-weight: 500;
      }
    }
    .description{
      color: #A6A6A6;
      margin-bottom: 16px;
    }
    .back-action, .resend{
      color: $primary;
      text-decoration: none;
      display: block;
      margin-bottom: 4px;
      font-weight: 600;
    }
    .resend{
      font-size: 14px;
    }
  }
}