.modal-backdrop{
  z-index: 0;
}
.modal{
  z-index: 1;
}
.select2-container--default .select2-selection--multiple{
  height: auto;
  background: #112445;
  border: 1px solid #384660;
  border-radius: 4px;
    padding: 7px 8px!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
  background-color: #5A6D8B;
  border: none;
  margin-left: 8px;
    margin-top: 0;
}
.light{
  .select2-container--default .select2-selection--single{
    background: #fff;
    border: 1px solid #c8c8c8;
  }
  .select2-container--default .select2-selection--multiple{
    background: #fff;
    border: 1px solid #c8c8c8;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #E9E9E9;
    color: #A1A1A1;
  }
}
.share-inside{
  .dropdown-menu{
    padding: 12px 0px;
    margin-bottom: 8px;
    .pronun{
      &__title{
        padding: 0 16px;
      }
    }
    .dropdown-item{
      padding: .25rem 2rem;
        &:hover, &:focus{
          background-color: #112445;
        }
    }
  }
}
.light{
  .share-inside{
    .dropdown-menu{
      .dropdown-item{
          &:hover, &:focus{
            background-color: #eeeeee;
          }
      }
    }
  }
}