@media (max-width:767.77px) {
 .header{
   .btn-primary {
        padding: 0.5rem 2.5rem;
        font-size: 13px;
        font-weight: 600;
    }
    .user-form {
        margin-left: 16px;
        img{
            width: 40px;
        }
    }
 }
 .top-page{
     &__title{
        font-size: 2rem;
        margin-bottom: 16px;
     }
     &__description{
         font-size: 13px;
         margin-top: 1rem;
         margin-bottom: 24px;
     }
     &__head{
         .btn-primary{
            padding: 12px 24px;
            font-size: 15px;
         }
     }
     &__video{
         &--languages {
             &.bg-card{
                 padding: 10px;
             }
            .language-item{
                p{
                    font-size: 13px;
                }
                &__flag{
                    width: 56px;
                    height: 56px;
                }
            }
         }
     }
     .audio-view{
        &__control{
            &--item {
                label{
                    flex-basis: 42%;
                }
            }
        }
     }
     &__about{
        padding: 50px 0;
        &--title{
            font-size: 2rem;
            margin-bottom: 16px;
            
        }
        &--description{
            font-size: 14px;
            margin-bottom: 3rem;
        }
        &--item {
            text-align: center;
            .title{
                margin-bottom: 16px;
            }
            font-size: 14px;
            margin-bottom: 32px;
        }
     }
 }
 .footer{
     &__item{
        margin: 0 16px;
        font-size: 15px;
     }
     &__brand{
         font-size: 2rem;
     }
     &__description{
         font-size: 14px;
     }
 }
 .my-project{
     .title{
         font-size: 24px;
         margin-top: 40px;
         margin-bottom: 45px;
     }
 }

}

@media (min-width:576px) {}

@media (min-width:768px) {}

@media (min-width:992px) {}

@media (min-width:1200px) {}
@media (min-width:1600px) {
    .new-project{
        .title{
            font-size: 3rem;
        }
        .description{
            margin-bottom: 3.688rem;
        }
        &__content{
          &--import{
            display: flex;
                input{
                font-size: 1.5rem;
                padding: 1rem 32px;
                padding-left: 3.25rem;
                height: 70px;
                }
                .btn-primary{
                    font-size: 1.25rem;
                    height: 70px;
                  }
            }   
            .import-btn{
                margin-top: 40px;
                margin-bottom: 3.688rem;
                .btn-primary{
                  font-size: 1.25rem;
                  height: 58px;
                }
                .import-btn__file{
                    height: 58px;
                    font-size: 1.125rem;
                }
              }
        }
        .submit-btn{
            margin: 40px;
        }
    }
    .sign{
        padding: 80px;
        &__title{
            font-size: 48px;
        }
        &__content{
            font-size: 16px;
            padding: 5rem 5rem;
            max-width: 42rem;
            &--logo{
                width: 125px;
            }
            .form-control{
                font-size: 15px;
                padding: 1rem 1.5rem;
            }
            .btn{
                &.btn-primary{
                    padding: 16px 32px;
                    margin-bottom: 20px;
                  }
                  &.btn-google{
                    padding: 12px 32px;
                  }
            }
            .form-check{
                padding-left: 16px;
                margin-bottom: 2.813rem;
                label{
                  color: #818181;
                  font-size: 13px;
                }
              }
              .btn{
                  height: 60px;
              }
              &--policy{
                  margin-top: 50px;
              }
        }
    }
    .price{
        &__content{
            &--item{
                .btn-primary{
                    font-size: 16px;
                    font-weight: 700;
                    font-size: 16px;
                    padding: 1.125rem 1.875rem;
                }
                .date{
                    font-size: 1.125rem;
                    margin-bottom: 28px;
                }
                .item-price{
                    font-size: 2.5rem;
                    margin-bottom: 20px;
                    span{
                      color: #Fff;
                      font-size: 1rem;
                    }
                  }
            }
        }
    }
}