@media (min-width: 1600px) {
    .edit-project {
        &__bars {
            margin-bottom: 40px;
            .title {
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
            }

            .btn-primary {
                border-radius: 30px;
                padding: 8px 32px;
                font-weight: 600;
                font-size: 16px;
                svg {
                    margin-right: 8px;
                }
            }
        }
        &__content {
            .translate-main {
                padding: 20px;
                &__item {
                    margin-bottom: 50px;
                    .content-trans {
                        font-size: 14px;
                    }
                }
            }
            .audio-view {
                img {
                    margin-bottom: 16px;
                }
                audio {
                    width: 100%;
                    margin-bottom: 16px;
                }
                &__control {
                    &--item {
                        margin-bottom: 24px;
                        label {
                            font-size: 14px;
                        }
                    }
                }
                .btn-primary {
                    font-size: 20px;
                    svg {
                        margin-right: 17px;
                    }
                }
            }
        }
    }
}
