.btn-primary{
    background-color: $primary;
    border-color: $primary;
    color: #Fff;
}
.btn-submit{
    background-color: $defaut;
    border-color: $defaut;
    color: #9DA5BC;
}
.import-btn{
    &__upload {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        &:active {
            outline: 0;
            &::before {
                background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
            }
        }
    }
    &__file{
        background: #112445;
        border: 2px solid $primary;
        box-sizing: border-box;
        border-radius: 50px;
        font-weight: 600;
        font-size: 1rem;
        color: $primary;
        padding: 1rem 2rem;
        height: 52px;
        width: 440px;
        margin-right:1.25rem;
    }
}