$primary: #38b3f9;
$white: #fff;
$defaut: #1a3462;
$success: #009c3e;
$des: #5b6f8a;
$error: #fea9a9;
.color-primary {
    color: $primary;
}
.color-white {
    color: #fff;
}
.bg-card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 2px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 12px;
}
.cl-card {
    background-color: #112445;
}
.cl-des {
    color: $des;
}
.light {
    background-color: #eeeeee;
    .bread .description {
        color: #000;
    }
    &.full {
        background-color: #fff;
    }
    .color-white {
        color: #000;
    }
    .cl-card {
        background-color: #fff;
    }
    .header {
        .bg-light {
            background-color: #fff !important;
        }
        .user-form {
            .dropdown-menu {
                .dropdown-item {
                    &:hover {
                        color: #000;
                    }
                    svg {
                        path {
                            fill: #000;
                        }
                    }
                }
            }
        }
    }
    .my-project .table tbody tr {
        background-color: #fff;
        color: #818181;
        td {
            &:nth-child(1) {
                color: #000;
            }
        }
    }
    .modal-content {
        background-color: #fff;
    }
    .modal-body.my-project p {
        color: #000;
    }
    .modal-body {
        .modal-title {
            color: #000;
        }
        &__item--content {
            h3 {
                color: #000;
            }
            .checktype {
                label {
                    color: #000;
                }
            }
        }
    }
    // Light-for-edit-project
    .edit-project__content {
        .time-line,
        .translate-main {
            background-color: #fff;
        }
        .time-line {
            &__item {
                &--content {
                    color: #a4a4a4;
                }
            }
            input {
                color: #a4a4a4;
            }
        }
        .translate-main {
            &__option {
                background-color: #EEEEEE;
                select {
                    background-color: #EEEEEE;
                    color:#000000;
                }
                .icon-down{
                    color:#000000;
                }
                .range-sliders .range-slider-group .number-range {
                    color: #000000;
                }
                .range-sliders .range-slider-group label {
                    color: #000000;
                }
            }
            &__item {
                .content-trans {
                    &__vn {
                        background-color: #eee !important;
                        border-radius: 5px;
                        color: #000 !important;
                    }
                }
            }
        }
        .audio-view {
            &__control {
                background-color: #fff;
                color: #000;
            }
        }
    }
    .new-project {
        background-color: #fff;
        padding-top: 2.5rem;
        border-top: 1px solid #e9e9e9;
        .description {
            color: #000;
        }
        .title {
            margin-top: 0;
        }
        &__content {
            &--import {
                .fas {
                    color: #c4c4c4;
                }
                input {
                    background: #fff;
                    border-color: #c4c4c4;
                }
                input::-webkit-input-placeholder {
                    /* WebKit, Blink, Edge */
                    color: #c4c4c4;
                }
                :-moz-placeholder {
                    /* Mozilla Firefox 4 to 18 */
                    color: #c4c4c4;
                    opacity: 1;
                }
                input::-moz-placeholder {
                    /* Mozilla Firefox 19+ */
                    color: #c4c4c4;
                    opacity: 1;
                }
                :-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: #c4c4c4;
                }
                input::-ms-input-placeholder {
                    /* Microsoft Edge */
                    color: #c4c4c4;
                }

                input::placeholder {
                    /* Most modern browsers support this now. */
                    color: #c4c4c4;
                }
                .btn-primary {
                    &.disabled {
                        background-color: #c4c4c4;
                        border-color: #c4c4c4;
                    }
                }
            }
        }
        .translate-main {
            &__option {
                background: #fff;
                color: #000;
                box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.1);
            }
        }
    }
    .range-sliders .range-slider-group .number-range {
        color: #000;
    }
    .range-sliders .range-slider-group label {
        color: #000;
    }
    .import-btn {
        &__file {
            background-color: #fff;
        }
    }
    .select2-container--default .select2-selection--single {
        background: #e9e9e9;
        border: 1px solid #e9e9e9;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #818181;
    }
    .price {
        &__content {
            .table {
                color: #000;
                thead {
                    color: #818181;
                }
            }
            &--item {
                .date {
                    color: #000;
                }
                .description {
                    color: #000;
                    span {
                        color: #818181;
                    }
                }
                .method {
                    color: #818181;
                    font-weight: 600;
                    span {
                        color: $success;
                    }
                }
            }
        }
    }
    .modal-body {
        &.rename {
            .title {
                color: #000;
            }
            input {
                color: #000;
            }
        }
    }
}

.cl-success {
    color: $success;
}
.cl-error {
    color: $error;
}
.light{
    .share-inside{
        background-color: $white;
        color:#000000;
        border-color: #C8C8C8;
        .divide-share{
            background-color: #EEEEEE;
        }
        .dropdown-menu{
            background-color: $white;
            color:#000000;
            border-color: #C8C8C8;
        }
        .pronun {
            .dropdown-item{
                color: #000000;
            }
            p{
                color:#000000;
            }
            .origin .full{
                color: #FEAB49;
                background-color: #FFE5B4;
                mix-blend-mode: normal;
            }
            .origin{
                span{
                    color:#000000
                }
            }
            &__description{
                color:#a4a4a4
            }
            &__checkbox {
                label{
                    color:#000000;
                }
            }
            &.tone{
                .title{
                    color:#000;
                }
                .type-tone{
                    &__item{
                        .btn-type-tone{
                            color:#949494;
                            background-color: #E9E9E9;
                        }
                        &.tone-setting{
                            .db{
                                color: #949494;
                            }
                        }
                    }
                }
            }
        }
    }
    .input-heio {
        background-color: $white;
        color:#000000;
        border-color: #C8C8C8;
        &::-webkit-input-placeholder { /* Edge */
            color: #C4C4C4;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #C4C4C4;
          }
          &::placeholder {
            color: #C4C4C4;
          }
    }
}