body{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
.bread{
    .title{
        margin-top: 3.125rem;
        font-weight: bold;
        font-size: 2rem;
        color: $primary;
        margin-bottom: 2rem;
    }
    .description{
        max-width: 55%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4.375rem;
    }
}