.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it
  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    border-radius: 3px;
    border: 1px solid $primary;
    height: 20px;
    background: transparent;
  }

  // Box hover
  &:hover + label:before {
    background: transparent;
  }
  
  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: transparent;
  }
  
  // Disabled state label.
  &:disabled + label {
    color: $primary;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: $primary;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 $primary,
      4px 0 0 $primary,
      4px -2px 0 $primary,
      4px -4px 0 $primary,
      4px -6px 0 $primary,
      4px -8px 0 $primary;
    transform: rotate(45deg);
  }
}
// Ranger slide
.range-sliders{
  font-size: 12px;
  font-weight: 600;
  color: #E9E9E9;
  .range-slider-group{
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      label{
          width: 55px;
      }
      .range-slider{
          width: 100%;
          margin: 0 8px;
      }
      /* Special styling for WebKit/Blink */
      input[type=range]{
          height: 4px;
          border-radius: 8px;
      }
      input[type=range]::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 12px;
          width: 12px;
          border-radius: 50%;
          background: $primary;
          cursor: pointer;
      }
      
      /* All the same stuff for Firefox */
      input[type=range]::-moz-range-thumb {
          height: 12px;
          width: 12px;
          border-radius: 50%;
          background: $primary;
          cursor: pointer;
      }
      
      /* All the same stuff for IE */
      input[type=range]::-ms-thumb {
          height: 12px;
          width: 12px;
          border-radius: 50%;
          cursor: pointer;
      }
     .number-range{
          border:none;
          background: transparent;
          font-size: 12px;
          font-weight: 600;
          color: #E9E9E9;
      }
  }
}
// Select2 custome
.select2-selection{
   position: relative;
    width: 100%;
    font-size: 14px;
    margin-bottom: 0;
    padding: 12px 24px;
    border-radius: 50px;
}
.select2-container--default .select2-selection--single{
  height: auto;
  border-radius: 30px;
  background: #112445;
  border: 1px solid #384660;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  color: #e9e9e9;
  font-weight: 600;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple{
  // border-radius: 50px;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
  // border-radius: 50px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}
.select2-dropdown{
  background-color: #112445;
  border: none;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 13px 16px;
}
.select2-container--open .select2-dropdown--above{
  padding: 13px 16px;
  width: 80%;
}
.select2-container--default .select2-results__option--selected{
  background-color: $primary;
}
.select2-results__option{
  padding: 6px 13px;
  border-radius: 5px;
  margin-bottom: 8px;
}
.select2-container--default .select2-results>.select2-results__options{
  font-weight: 600;
  font-size: 14px;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: $primary;
  color: $white;
}
.select2-search--dropdown{
 padding: 0;
 margin-bottom: 8px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  border-radius: 5px;
  padding: 7px 16px 7px 35px;
  background-color: #112445;
  border: 1px solid #273A58;
  color: $white;
  &:focus-visible{
    outline: none;
    border-color: $primary;
  }
}
.select2-container--default .select2-selection--single .select2-selection__placeholder{
  color: #5B6F8A;
  font-weight: 600;
  font-size: 16px;
}
// scroll bar
 .select2-results__options::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   border-radius: 10px;
   background-color: transparent;
 }
 
 .select2-results__options::-webkit-scrollbar
 {
   width:5px;
   background-color: transparent;
 }
 
 .select2-results__options::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
   background-color: #384660;
 }
 

 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.input-heio{
  border: 1px solid #273A58;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #0A1D3B;
  color: #273A58;
  margin-bottom: 20px;
  &::-webkit-input-placeholder { /* Edge */
    color: #273A58;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #273A58;
  }
  &::placeholder {
    color: #273A58;
  }
}
//custome select 2
.select2-container{
  z-index: 2000!important
}
//pagination
.pagination{
  justify-content: center;
  .page{
    font-size: 18px;
    padding: 9px 16px;
    background-color: #112445;
    border-right: 1px solid #162A4D;
    &:nth-child(1){
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }
    &:nth-last-child(1){
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border-right:none;
    }
    &.current{
      span{
        font-size: 14px;
        display:flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        border-radius: 30px;
        background-color: $primary;
      }
    }
    a{
      display:flex;
      align-items: center;
      justify-content: center;
      width: 26px;
      height: 26px;
      border-radius: 30px;
      font-weight: 700;
      color: #9DB5DB;
    }
  }

  .first{
    a{
      &:before{
       font-family: "Font Awesome 5 Free"; 
       content: "\f100";
       font-weight: 900;
      }
     }
    
  }
  .prev{
    a{
     &:before{
      font-family: "Font Awesome 5 Free"; 
      content: "\f060";
      font-weight: 900;
     }
    }
  }
  .next{
    a{
      &:before{
       font-family: "Font Awesome 5 Free"; 
       content: "\f061";
       font-weight: 900;
      }
     }
  }
  .last{
    a{
      &:before{
       font-family: "Font Awesome 5 Free"; 
       content: "\f101";
       font-weight: 900;
      }
     }
  }
  .last, .prev, .next, .first{
    width: 44px;
    height: 44px;
    border-radius: 30px;
    background-color: #112445;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      text-decoration: none;
      color: $primary;
      font-size: 16px;
    }
  }
  .prev, .first{
    margin-right: 8px;
  }
  .last, .next{
    margin-left: 8px;
  }
}