@import 'css3-mixins';
@import 'fonts';
@import 'color';
@import 'icon';
@import 'input';
@import 'reset';
@import 'button';
@mixin size($w, $h) {
    width: $w;
    height: $h;
}
@media (min-width:1600px){
    .container-xl{
        max-width: 1560px;
    }
}