<section class="edit-project">
    <div class="container container-xl">
        <div class="edit-project__bars">
            <h1 class="title">Edit project</h1>
            <button class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                title="Edit before sync!">
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="24" viewBox="0 0 19 24" fill="none">
                    <path
                        d="M7.4551 0.704987C7.66604 0.494311 7.95198 0.375977 8.2501 0.375977C8.54823 0.375977 8.83416 0.494311 9.0451 0.704987L11.6701 3.32999C11.8808 3.54092 11.9991 3.82686 11.9991 4.12499C11.9991 4.42311 11.8808 4.70905 11.6701 4.91999L9.0451 7.54499C8.83184 7.74371 8.54977 7.85189 8.25832 7.84675C7.96687 7.84161 7.68879 7.72354 7.48267 7.51742C7.27655 7.3113 7.15848 7.03322 7.15334 6.74177C7.1482 6.45032 7.25638 6.16825 7.4551 5.95499L8.1001 5.30999C6.80122 5.48458 5.58126 6.03351 4.58911 6.88979C3.59696 7.74607 2.87554 8.87265 2.5129 10.132C2.15025 11.3914 2.16208 12.7291 2.54692 13.9819C2.93176 15.2347 3.67298 16.3484 4.6801 17.187C4.90925 17.3781 5.05307 17.6525 5.07994 17.9497C5.1068 18.2469 5.01451 18.5426 4.82335 18.7717C4.6322 19.0009 4.35784 19.1447 4.06064 19.1716C3.76345 19.1984 3.46775 19.1061 3.2386 18.915C1.87015 17.775 0.870699 16.2547 0.366774 14.5464C-0.137151 12.8381 -0.12289 11.0187 0.407751 9.31854C0.938393 7.61837 1.96155 6.11386 3.34771 4.99549C4.73386 3.87712 6.42067 3.19518 8.1946 3.03599L7.4551 2.29499C7.24443 2.08405 7.12609 1.79811 7.12609 1.49999C7.12609 1.20186 7.24443 0.915925 7.4551 0.704987ZM13.1776 5.22899C13.3686 4.99992 13.6428 4.85607 13.9398 4.82906C14.2368 4.80206 14.5324 4.89411 14.7616 5.08499C16.1301 6.22495 17.1295 7.7453 17.6334 9.45359C18.1374 11.1619 18.1231 12.9813 17.5925 14.6814C17.0618 16.3816 16.0386 17.8861 14.6525 19.0045C13.2663 20.1228 11.5795 20.8048 9.8056 20.964L10.5451 21.705C10.6556 21.808 10.7443 21.9322 10.8058 22.0702C10.8673 22.2082 10.9003 22.3571 10.903 22.5082C10.9057 22.6593 10.8779 22.8093 10.8213 22.9494C10.7647 23.0895 10.6805 23.2167 10.5737 23.3235C10.4668 23.4304 10.3396 23.5146 10.1995 23.5712C10.0594 23.6278 9.90937 23.6555 9.75832 23.6529C9.60726 23.6502 9.45829 23.6171 9.32029 23.5557C9.18229 23.4942 9.05809 23.4055 8.9551 23.295L6.3301 20.67C6.11943 20.459 6.00109 20.1731 6.00109 19.875C6.00109 19.5769 6.11943 19.2909 6.3301 19.08L8.9551 16.455C9.16836 16.2563 9.45043 16.1481 9.74188 16.1532C10.0333 16.1584 10.3114 16.2764 10.5175 16.4826C10.7237 16.6887 10.8417 16.9668 10.8469 17.2582C10.852 17.5497 10.7438 17.8317 10.5451 18.045L9.9001 18.69C11.199 18.5154 12.4189 17.9665 13.4111 17.1102C14.4032 16.2539 15.1247 15.1273 15.4873 13.8679C15.8499 12.6085 15.8381 11.2708 15.4533 10.018C15.0684 8.76526 14.3272 7.6516 13.3201 6.81299C13.0913 6.62177 12.9477 6.34751 12.921 6.05048C12.8942 5.75346 12.9866 5.45798 13.1776 5.22899Z"
                        fill="white" />
                </svg>
                Sync
            </button>
        </div>
        <div class="edit-project__content">
            <div class="row">
                <div class="col-xl-8 list-project">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="time-line">
                                <div class="time-line__item">
                                    <h6 class="time-line__item--number">1.</h6>
                                    <div class="time-line__item--content">
                                        <input type="text" value="0:00:00:000">
                                        <input type="text" value="0:00:00:000">
                                        <p class="label-eng">English</p>
                                        <p>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                viewBox="0 0 12 12" fill="none">
                                                <path
                                                    d="M7.21277 11.9431C7.34985 11.9999 7.5007 12.0147 7.64622 11.9857C7.79173 11.9568 7.92539 11.8853 8.03027 11.7803L11.7803 8.03034L10.7198 6.96984L8.25002 9.43959L8.25002 8.67357e-05L6.75002 8.66701e-05L6.75002 11.2501C6.74999 11.3984 6.79393 11.5434 6.8763 11.6668C6.95867 11.7901 7.07576 11.8863 7.21277 11.9431ZM4.78727 0.0570868C4.65019 0.000308137 4.49935 -0.0145353 4.35383 0.014435C4.20831 0.0434052 4.07466 0.114887 3.96977 0.219837L0.219774 3.96984L1.28028 5.03034L3.75002 2.56059L3.75002 12.0001L5.25002 12.0001L5.25002 0.750087C5.25016 0.60174 5.20626 0.456691 5.12388 0.333321C5.0415 0.209951 4.92435 0.113812 4.78727 0.0570868Z"
                                                    fill="#009C3E" />
                                            </svg>
                                        </p>
                                        <p class="label-vn">Vietnamese</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="translate-main active">
                                <div class="translate-main__item">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="translate-main__item--sub">
                                                <div class="content-trans">
                                                    <p class="writter content-trans__eng">
                                                        A good library is an ocean of information, whose boundaries
                                                        continue to extend with the endless contribution of the numerous
                                                        streams of knowledge. Thus, it has a peculiar fascination for
                                                        scholars, and all those whose thirst for knowledge is instable.
                                                    </p>
                                                    <textarea class="writter content-trans__vn" name="" id="article"
                                                        rows="6">Một thư viện lớn là một đại dương của thông tin mà ranh giới của nó tiếp tục mở rộng với sự đóng góp vô tận những dòng suối tri thức không bao giờ ngừng lại. Vì vậy nó có sức quyến rũ đặc biệt đối với các học giả và những người khát khao chân trời kiến thức. </textarea>

                                                    <!-- <p class="writter content-trans__vn">
                                                   
                                                    </p> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="translate-main__option">
                                                <div class="position-relative">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Male2</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                    <i class="fas fa-angle-down icon-down"></i>
                                                </div>

                                                <div id="range-sliders" class="range-sliders">
                                                    <div class="range-slider-group range-slider-group-red">
                                                        <label for="">Speed</label>
                                                        <input type="range" min="0" max="255" value="155"
                                                            class="range-slider range-slider-red"
                                                            id="range-slider-red" />
                                                        <span class="number-range">200</span>
                                                    </div>
                                                    <div class="range-slider-group range-slider-group-red">
                                                        <label for="">Pitch</label>
                                                        <input type="range" min="0" max="255" value="155"
                                                            class="range-slider range-slider-red"
                                                            id="range-slider-red" />
                                                        <span class="number-range">200</span>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <button class="btn btn-success w-100 me-1">Listen</button>
                                                        <button class="btn btn-primary w-100 ms-1">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="time-line">
                                <div class="time-line__item">
                                    <h6 class="time-line__item--number">1.</h6>
                                    <div class="time-line__item--content">
                                        <input type="text" value="0:00:00:000">
                                        <input type="text" value="0:00:00:000">
                                        <p class="label-eng">English</p>
                                        <p>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                viewBox="0 0 12 12" fill="none">
                                                <path
                                                    d="M7.21277 11.9431C7.34985 11.9999 7.5007 12.0147 7.64622 11.9857C7.79173 11.9568 7.92539 11.8853 8.03027 11.7803L11.7803 8.03034L10.7198 6.96984L8.25002 9.43959L8.25002 8.67357e-05L6.75002 8.66701e-05L6.75002 11.2501C6.74999 11.3984 6.79393 11.5434 6.8763 11.6668C6.95867 11.7901 7.07576 11.8863 7.21277 11.9431ZM4.78727 0.0570868C4.65019 0.000308137 4.49935 -0.0145353 4.35383 0.014435C4.20831 0.0434052 4.07466 0.114887 3.96977 0.219837L0.219774 3.96984L1.28028 5.03034L3.75002 2.56059L3.75002 12.0001L5.25002 12.0001L5.25002 0.750087C5.25016 0.60174 5.20626 0.456691 5.12388 0.333321C5.0415 0.209951 4.92435 0.113812 4.78727 0.0570868Z"
                                                    fill="#009C3E" />
                                            </svg>
                                        </p>
                                        <p class="label-vn">Vietnamese</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="translate-main">
                                <div class="translate-main__item">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="translate-main__item--sub ">
                                                <div class="content-trans">
                                                    <p class="writter content-trans__eng">
                                                        A good library is an ocean of information, whose boundaries
                                                        continue to extend with the endless contribution of the numerous
                                                        streams of knowledge. Thus, it has a peculiar fascination for
                                                        scholars, and all those whose thirst for knowledge is instable.
                                                    </p>
                                                    <textarea class="writter content-trans__vn" name="" id=""
                                                        rows="6">Một thư viện lớn là một đại dương của thông tin mà ranh giới của nó tiếp tục mở rộng với sự đóng góp vô tận những dòng suối tri thức không bao giờ ngừng lại. Vì vậy nó có sức quyến rũ đặc biệt đối với các học giả và những người khát khao chân trời kiến thức. </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="translate-main__option">
                                                <div class="position-relative">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Male2</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                    <i class="fas fa-angle-down icon-down"></i>
                                                </div>

                                                <div id="range-sliders" class="range-sliders">
                                                    <div class="range-slider-group range-slider-group-red">
                                                        <label for="">Speed</label>
                                                        <input type="range" min="0" max="255" value="155"
                                                            class="range-slider range-slider-red"
                                                            id="range-slider-red" />
                                                        <span class="number-range">200</span>
                                                    </div>
                                                    <div class="range-slider-group range-slider-group-red">
                                                        <label for="">Pitch</label>
                                                        <input type="range" min="0" max="255" value="155"
                                                            class="range-slider range-slider-red"
                                                            id="range-slider-red" />
                                                        <span class="number-range">200</span>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <button class="btn btn-success w-100 me-1">Listen</button>
                                                        <button class="btn btn-primary w-100 ms-1">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="time-line">
                                <div class="time-line__item">
                                    <h6 class="time-line__item--number">1.</h6>
                                    <div class="time-line__item--content">
                                        <input type="text" value="0:00:00:000">
                                        <input type="text" value="0:00:00:000">
                                        <!-- <p class="mb-0">0:00:00:000 </p>
                                        <p class="mb-0"> 0:00:45:120</p> -->
                                        <p class="label-eng">English</p>
                                        <p>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                viewBox="0 0 12 12" fill="none">
                                                <path
                                                    d="M7.21277 11.9431C7.34985 11.9999 7.5007 12.0147 7.64622 11.9857C7.79173 11.9568 7.92539 11.8853 8.03027 11.7803L11.7803 8.03034L10.7198 6.96984L8.25002 9.43959L8.25002 8.67357e-05L6.75002 8.66701e-05L6.75002 11.2501C6.74999 11.3984 6.79393 11.5434 6.8763 11.6668C6.95867 11.7901 7.07576 11.8863 7.21277 11.9431ZM4.78727 0.0570868C4.65019 0.000308137 4.49935 -0.0145353 4.35383 0.014435C4.20831 0.0434052 4.07466 0.114887 3.96977 0.219837L0.219774 3.96984L1.28028 5.03034L3.75002 2.56059L3.75002 12.0001L5.25002 12.0001L5.25002 0.750087C5.25016 0.60174 5.20626 0.456691 5.12388 0.333321C5.0415 0.209951 4.92435 0.113812 4.78727 0.0570868Z"
                                                    fill="#009C3E" />
                                            </svg>
                                        </p>
                                        <p class="label-vn">Vietnamese</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="translate-main">
                                <div class="translate-main__item">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="translate-main__item--sub">
                                                <div class="content-trans">
                                                    <p class="writter content-trans__eng">
                                                        A good library is an ocean of information, whose boundaries
                                                        continue to extend with the endless contribution of the numerous
                                                        streams of knowledge. Thus, it has a peculiar fascination for
                                                        scholars, and all those whose thirst for knowledge is instable.
                                                    </p>
                                                    <textarea class="writter content-trans__vn" name="" id=""
                                                        rows="6">Một thư viện lớn là một đại dương của thông tin mà ranh giới của nó tiếp tục mở rộng với sự đóng góp vô tận những dòng suối tri thức không bao giờ ngừng lại. Vì vậy nó có sức quyến rũ đặc biệt đối với các học giả và những người khát khao chân trời kiến thức. </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="translate-main__option">
                                                <div class="position-relative">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Male2</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                    <i class="fas fa-angle-down icon-down"></i>
                                                </div>

                                                <div id="range-sliders" class="range-sliders">
                                                    <div class="range-slider-group range-slider-group-red">
                                                        <label for="">Speed</label>
                                                        <input type="range" min="0" max="255" value="155"
                                                            class="range-slider range-slider-red"
                                                            id="range-slider-red" />
                                                        <span class="number-range">200</span>
                                                    </div>
                                                    <div class="range-slider-group range-slider-group-red">
                                                        <label for="">Pitch</label>
                                                        <input type="range" min="0" max="255" value="155"
                                                            class="range-slider range-slider-red"
                                                            id="range-slider-red" />
                                                        <span class="number-range">200</span>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <button class="btn btn-success w-100 me-1">Listen</button>
                                                        <button class="btn btn-primary w-100 ms-1">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 ">
                    <div class="audio-view scroll-sticky">
                        <video>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                        <div class="audio-view__control">
                            <div class="audio-view__control--item">
                                <label for="" class="d-block">
                                    Voiceover sound
                                </label>
                                <input type="range" min="0" max="255" value="155" class="range-slider range-slider-red"
                                    id="range-slider-red" />
                            </div>
                            <div class="audio-view__control--item">
                                <label for="" class="d-block">
                                    Source sound
                                </label>
                                <input type="range" min="0" max="255" value="155" class="range-slider range-slider-red"
                                    id="range-slider-red" />
                            </div>
                            <div class="audio-view__control--item">
                                <label for="" class="d-block">
                                    Background sound
                                </label>
                                <div class="position-relative">
                                    <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox"
                                        value="value1">
                                    <label for="styled-checkbox-1"></label>
                                </div>
                            </div>
                            <div class="audio-view__control--item">
                                <label for="" class="d-block">
                                    Source subtitles
                                </label>
                                <div class="position-relative">
                                    <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox"
                                        value="value1">
                                    <label for="styled-checkbox-1"></label>
                                </div>
                            </div>
                            <div class="audio-view__control--item">
                                <label for="" class="d-block">
                                    Translated subtitles
                                </label>
                                <div class="position-relative">
                                    <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox"
                                        value="value1">
                                    <label for="styled-checkbox-1"></label>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" viewBox="0 0 18 22"
                                    fill="none">
                                    <path
                                        d="M4.26694 6.23198C4.16248 6.1275 4.07962 6.00347 4.0231 5.86697C3.96657 5.73046 3.93749 5.58417 3.93751 5.43642C3.93752 5.28868 3.96664 5.14239 4.0232 5.0059C4.07975 4.86941 4.16264 4.7454 4.26712 4.64095L8.20463 0.704385C8.41559 0.49348 8.70169 0.375 9 0.375C9.29831 0.375 9.58441 0.49348 9.79537 0.704385L13.7329 4.64095C13.9429 4.85209 14.0607 5.13792 14.0603 5.43576C14.06 5.7336 13.9415 6.01914 13.731 6.22977C13.5204 6.44041 13.2349 6.55895 12.937 6.55939C12.6392 6.55984 12.3533 6.44217 12.1421 6.23217L10.125 4.2156V12C10.125 12.2984 10.0065 12.5846 9.79549 12.7955C9.58452 13.0065 9.29837 13.125 9 13.125C8.70163 13.125 8.41548 13.0065 8.2045 12.7955C7.99353 12.5846 7.875 12.2984 7.875 12V4.2156L5.85787 6.23217C5.64687 6.4431 5.36072 6.56159 5.06237 6.56155C4.76401 6.56152 4.47789 6.44297 4.26694 6.23198ZM15.75 8.25004H13.5C13.2016 8.25004 12.9155 8.36857 12.7045 8.57955C12.4935 8.79052 12.375 9.07667 12.375 9.37504C12.375 9.67341 12.4935 9.95956 12.7045 10.1705C12.9155 10.3815 13.2016 10.5 13.5 10.5H15.375V19.125H2.625V10.5H4.5C4.79837 10.5 5.08452 10.3815 5.2955 10.1705C5.50647 9.95956 5.625 9.67341 5.625 9.37504C5.625 9.07667 5.50647 8.79052 5.2955 8.57955C5.08452 8.36857 4.79837 8.25004 4.5 8.25004H2.25C1.75289 8.25061 1.27631 8.44834 0.924805 8.79985C0.573298 9.15135 0.375571 9.62794 0.375 10.125V19.5C0.375571 19.9971 0.573298 20.4737 0.924805 20.8252C1.27631 21.1767 1.75289 21.3745 2.25 21.375H15.75C16.2471 21.3745 16.7237 21.1767 17.0752 20.8252C17.4267 20.4737 17.6244 19.9971 17.625 19.5V10.125C17.6244 9.62794 17.4267 9.15135 17.0752 8.79985C16.7237 8.44834 16.2471 8.25061 15.75 8.25004Z"
                                        fill="white" />
                                </svg>
                                Export
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal select-text -->
<div class="share-inside">
    <!-- <div class="dropdown"> -->
        <div class="share-inside__item ">
            <img src="../assets/img/volumn.png" class="me-1" alt="">
            Listen
        </div>

    <!-- </div> -->
    <div class="divide-share"></div>
    <div class="dropdown">
        <div class="share-inside__item"  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Pronunciation
        </div>
        <div class="dropdown-menu pronun" aria-labelledby="dropdownMenuButton1">
            <h3 class="pronun__title">Pronunciation</h3>
            <p class="pronun__description">Change how the text is pronounced</p>
            <div class="d-flex align-items-center origin">
              <span>Original:</span>
             <span class="d-block full">Một thư viện lớn</span>
             <img src="../assets/img/volumn.png"/> 
            </div>
            <p>Use custom text to get the pronunciation right.</p>
            <input type="text" class="input-heio w-100" placeholder="Enter custom pronunciation">
            <div class="pronun__checkbox">
                 <div class="position-relative d-flex align-items-center">
                     <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox"
                         value="value1">
                     <label for="styled-checkbox-1"></label>
                 </div>
                 <label for="" class="d-block">
                     Translated subtitles
                 </label>
             </div>
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-primary w-100 d-flex align-items-center justify-content-center">
                     <img src="../assets/img/volunm-white.png" class="me-1" alt="">
                     Preview
                </button>
                <button type="button" class="btn btn-primary w-100 ms-1">Clear</button>
                <button type="button" class="btn btn-primary w-100 ms-1">Apply</button>
            </div>
       </div>
    </div>

    <div class="divide-share"></div>
    <div class="dropdown">
        <div class="share-inside__item"  type="button" id="dropdownTone" data-bs-toggle="dropdown" aria-expanded="false">
            Tone
        </div>
        <div class="dropdown-menu pronun tone" aria-labelledby="dropdownTone">
            <h3 class="pronun__title">Tone</h3>
            <p class="pronun__description">Change the voice tone</p>
            <div class="tone__item">
                <div class="tone__item--list">
                    <h5 class="title">
                        Volumn
                    </h5>
                    <div class="type-tone">
                        <div class="type-tone__item">
                            <div class="d-flex align-items-center">
                                <button class="btn btn-type-tone me-1">x-soft</button>
                                <button class="btn btn-type-tone me-1">soft</button>
                                <button class="btn btn-type-tone me-1 active">medium</button>
                                <button class="btn btn-type-tone me-1">loud</button>
                                <button class="btn btn-type-tone">x-loud</button>
                            </div>
                        </div>
                        <div class="type-tone__item or">or</div>
                        <div class="type-tone__item tone-setting">
                            <div class="d-flex align-items-center">
                                <div class="d-flex ">
                                    <button class="btn btn-primary"><i class="fas fa-plus"></i></button>
                                    <button class="btn btn-type-tone"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="input-heio" value="0">
                                <span class="db">dB</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tone__item--list">
                    <h5 class="title">
                        Rate
                    </h5>
                    <div class="type-tone">
                        <div class="type-tone__item">
                            <div class="d-flex align-items-center">
                                <button class="btn btn-type-tone me-1">x-soft</button>
                                <button class="btn btn-type-tone me-1">soft</button>
                                <button class="btn btn-type-tone me-1 active">medium</button>
                                <button class="btn btn-type-tone me-1">loud</button>
                                <button class="btn btn-type-tone">x-loud</button>
                            </div>
                        </div>
                        <div class="type-tone__item or">or</div>
                        <div class="type-tone__item tone-setting">
                            <div class="d-flex align-items-center">
                                <div class="d-flex ">
                                    <button class="btn btn-primary"><i class="fas fa-plus"></i></button>
                                    <button class="btn btn-type-tone"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="input-heio" value="0">
                                <span class="db">dB</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tone__item--list">
                    <h5 class="title">
                        Pitch
                    </h5>
                    <div class="type-tone">
                        <div class="type-tone__item">
                            <div class="d-flex align-items-center">
                                <button class="btn btn-type-tone me-1">x-soft</button>
                                <button class="btn btn-type-tone me-1">soft</button>
                                <button class="btn btn-type-tone me-1 active">medium</button>
                                <button class="btn btn-type-tone me-1">loud</button>
                                <button class="btn btn-type-tone">x-loud</button>
                            </div>
                        </div>
                        <div class="type-tone__item or">or</div>
                        <div class="type-tone__item tone-setting">
                            <div class="d-flex align-items-center">
                                <div class="d-flex ">
                                    <button class="btn btn-primary"><i class="fas fa-plus"></i></button>
                                    <button class="btn btn-type-tone"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="input-heio" value="0">
                                <span class="db">dB</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-primary w-100 d-flex align-items-center justify-content-center">
                     <img src="../assets/img/volunm-white.png" class="me-1" alt="">
                     Preview
                </button>
                <button type="button" class="btn btn-primary w-100 ms-1">Clear</button>
                <button type="button" class="btn btn-primary w-100 ms-1">Apply</button>
            </div>
       </div>
    </div>

    <div class="divide-share"></div>
    <div class="dropdown">
        <div class="share-inside__item" type="button" id="dropdownEm" data-bs-toggle="dropdown" aria-expanded="false">
            Emphasis
        </div>
        <div class="dropdown-menu pronun tone" aria-labelledby="dropdownEm">
            <h3 class="pronun__title">Emphasis</h3>
            <p class="pronun__description">Change the voice emphasis</p>
            <div class="tone__item">
                <div class="tone__item--list">
                    <h5 class="title">
                        Voice style
                    </h5>
                    <div class="type-tone">
                        <div class="type-tone__item w-100">
                            <div class="d-flex align-items-center w-100">
                                <button class="btn btn-type-tone me-1 w-100">Reduced</button>
                                <button class="btn btn-type-tone me-1 w-100">Moderated</button>
                                <button class="btn btn-type-tone me-1 active w-100">Strong</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-primary w-100 d-flex align-items-center justify-content-center">
                     <img src="../assets/img/volunm-white.png" class="me-1" alt="">
                     Preview
                </button>
                <button type="button" class="btn btn-primary w-100 ms-1">Clear</button>
                <button type="button" class="btn btn-primary w-100 ms-1">Apply</button>
            </div>
       </div>
    </div>
    <div class="divide-share"></div>
    <div class="dropdown">
        <div class="share-inside__item" type="button" id="dropdownPause" data-bs-toggle="dropdown" aria-expanded="false">
            Pause 
            <i class="ms-1 fas fa-chevron-down"></i>
        </div>
        <div class="dropdown-menu pronun " aria-labelledby="dropdownPause">
            <h3 class="pronun__title">Pause</h3>
               <a class="dropdown-item" href="#">0.2s</a>
               <a class="dropdown-item" href="#">0.5s</a>
               <a class="dropdown-item" href="#">1s</a>
              </ul>
       </div>
    </div>

</div>
<!-- End Modal select-text -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-end p-1">
                <button type="button" class="btn btn-close-pop" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path
                            d="M12 2C10.0222 2 8.08879 2.58649 6.4443 3.6853C4.79981 4.78412 3.51809 6.3459 2.76121 8.17317C2.00433 10.0004 1.8063 12.0111 2.19215 13.9509C2.578 15.8907 3.53041 17.6725 4.92894 19.0711C6.32746 20.4696 8.10929 21.422 10.0491 21.8079C11.9889 22.1937 13.9996 21.9957 15.8268 21.2388C17.6541 20.4819 19.2159 19.2002 20.3147 17.5557C21.4135 15.9112 22 13.9778 22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7363 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2ZM12 20C10.4178 20 8.87104 19.5308 7.55544 18.6518C6.23985 17.7727 5.21447 16.5233 4.60897 15.0615C4.00347 13.5997 3.84504 11.9911 4.15372 10.4393C4.4624 8.88743 5.22433 7.46197 6.34315 6.34315C7.46197 5.22433 8.88743 4.4624 10.4393 4.15372C11.9911 3.84504 13.5997 4.00346 15.0615 4.60896C16.5233 5.21447 17.7727 6.23984 18.6518 7.55544C19.5308 8.87103 20 10.4177 20 12C20 14.1217 19.1572 16.1566 17.6569 17.6569C16.1566 19.1571 14.1217 20 12 20Z"
                            fill="#38B3F9" />
                        <path
                            d="M14.7099 9.28994C14.617 9.19621 14.5064 9.12182 14.3845 9.07105C14.2627 9.02028 14.132 8.99414 13.9999 8.99414C13.8679 8.99414 13.7372 9.02028 13.6154 9.07105C13.4935 9.12182 13.3829 9.19621 13.2899 9.28994L11.9999 10.5899L10.7099 9.28994C10.5216 9.10164 10.2662 8.99585 9.99994 8.99585C9.73364 8.99585 9.47824 9.10164 9.28994 9.28994C9.10164 9.47824 8.99585 9.73364 8.99585 9.99994C8.99585 10.2662 9.10164 10.5216 9.28994 10.7099L10.5899 11.9999L9.28994 13.2899C9.19621 13.3829 9.12182 13.4935 9.07105 13.6154C9.02028 13.7372 8.99414 13.8679 8.99414 13.9999C8.99414 14.132 9.02028 14.2627 9.07105 14.3845C9.12182 14.5064 9.19621 14.617 9.28994 14.7099C9.3829 14.8037 9.4935 14.8781 9.61536 14.9288C9.73722 14.9796 9.86793 15.0057 9.99994 15.0057C10.132 15.0057 10.2627 14.9796 10.3845 14.9288C10.5064 14.8781 10.617 14.8037 10.7099 14.7099L11.9999 13.4099L13.2899 14.7099C13.3829 14.8037 13.4935 14.8781 13.6154 14.9288C13.7372 14.9796 13.8679 15.0057 13.9999 15.0057C14.132 15.0057 14.2627 14.9796 14.3845 14.9288C14.5064 14.8781 14.617 14.8037 14.7099 14.7099C14.8037 14.617 14.8781 14.5064 14.9288 14.3845C14.9796 14.2627 15.0057 14.132 15.0057 13.9999C15.0057 13.8679 14.9796 13.7372 14.9288 13.6154C14.8781 13.4935 14.8037 13.3829 14.7099 13.2899L13.4099 11.9999L14.7099 10.7099C14.8037 10.617 14.8781 10.5064 14.9288 10.3845C14.9796 10.2627 15.0057 10.132 15.0057 9.99994C15.0057 9.86793 14.9796 9.73722 14.9288 9.61536C14.8781 9.4935 14.8037 9.3829 14.7099 9.28994Z"
                            fill="#38B3F9" />
                    </svg>
                </button>
            </div>
            <div class="modal-body pt-0">
                <div class="text-center">
                    <h3 class="modal-title">Export</h3>
                </div>
                <div class="modal-body__item">
                    <div class="d-flex align-items-center">
                        <img src="../assets/img/pdf-1.png" alt="">
                        <div class="modal-body__item--content">
                            <h3>Project_1.mp4</h3>
                            <p>245MB</p>
                        </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M22 0C9.85 0 0 9.85 0 22C0 34.15 9.85 44 22 44C34.15 44 44 34.15 44 22C44 9.85 34.15 0 22 0ZM31.536 18.28C31.7116 18.0793 31.8453 17.8455 31.9292 17.5923C32.0131 17.3392 32.0455 17.0718 32.0245 16.806C32.0036 16.5401 31.9297 16.2811 31.8072 16.0443C31.6846 15.8074 31.516 15.5974 31.3111 15.4267C31.1062 15.256 30.8693 15.1279 30.6142 15.0501C30.3591 14.9723 30.091 14.9463 29.8258 14.9737C29.5605 15.001 29.3034 15.0811 29.0695 15.2093C28.8356 15.3374 28.6298 15.5111 28.464 15.72L19.864 26.038L15.414 21.586C15.0368 21.2217 14.5316 21.0201 14.0072 21.0247C13.4828 21.0292 12.9812 21.2395 12.6104 21.6104C12.2395 21.9812 12.0292 22.4828 12.0247 23.0072C12.0201 23.5316 12.2217 24.0368 12.586 24.414L18.586 30.414C18.7825 30.6104 19.0178 30.7637 19.2768 30.8641C19.5359 30.9645 19.813 31.0099 20.0905 30.9973C20.3681 30.9847 20.64 30.9144 20.8888 30.7909C21.1377 30.6674 21.3581 30.4934 21.536 30.28L31.536 18.28Z"
                            fill="#009C3E" />
                    </svg>
                </div>
                <div class="modal-body__item">
                    <div class="d-flex align-items-center">
                        <img src="../assets/img/pdf-2.png" alt="">
                        <div class="modal-body__item--content">
                            <h3>Project_1.mp3</h3>
                            <p>245MB</p>
                        </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                        <path
                            d="M20 0C8.98 0 0 8.98 0 20C0 31.02 8.98 40 20 40C31.02 40 40 31.02 40 20C40 8.98 31.02 0 20 0ZM18 16V10C18 8.9 18.9 8 20 8C21.1 8 22 8.9 22 10V16H25.58C26.48 16 26.92 17.08 26.28 17.7L20.7 23.28C20.3 23.68 19.68 23.68 19.28 23.28L13.7 17.7C13.5618 17.559 13.4684 17.3803 13.4316 17.1863C13.3949 16.9923 13.4163 16.7918 13.4933 16.61C13.5703 16.4282 13.6994 16.2733 13.8643 16.1647C14.0292 16.0561 14.2226 15.9988 14.42 16H18ZM28 30H12C10.9 30 10 29.1 10 28C10 26.9 10.9 26 12 26H28C29.1 26 30 26.9 30 28C30 29.1 29.1 30 28 30Z"
                            fill="#5B6F8A" />
                    </svg>
                </div>
                <div class="modal-body__item">
                    <div class="d-flex align-items-center">
                        <img src="../assets/img/pdf-3.png" alt="">
                        <div class="modal-body__item--content">
                            <h3>Project_1.srt</h3>
                            <p class="mb-3">245MB</p>
                            <div class="d-flex align-items-center checktype">
                                <div class="d-flex align-items-center">
                                    <label for="" class="d-block me-2">
                                        English
                                    </label>
                                    <div class="position-relative">
                                        <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox"
                                            value="value1">
                                        <label for="styled-checkbox-1"></label>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <label for="" class="d-block me-2">
                                        Vietnamese
                                    </label>
                                    <div class="position-relative">
                                        <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox"
                                            value="value1">
                                        <label for="styled-checkbox-1"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
                        <path
                            d="M12 4.68L14 8.143M22 2V6V2ZM32 4.68L30 8.143L32 4.68ZM39.32 12L35.856 14L39.32 12ZM42 22H38H42ZM39.32 32L35.856 30L39.32 32ZM32 39.32L30 35.856L32 39.32ZM22 42V38V42ZM12 39.32L14 35.856L12 39.32ZM4.68 32L8.143 30L4.68 32ZM2 22H6H2ZM4.68 12L8.143 14L4.68 12Z"
                            stroke="#38B3F9" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>