<section class="my-project">
  <div class="container">
    <div class="text-center">
      <h3 class="title">
        My project
      </h3>
    </div>
    <div class="my-project__content">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <input class="styled-checkbox mt-1" id="styled-checkbox-2" type="checkbox" value="value1">
              <label for="styled-checkbox-2 " class=""></label>
              NAME

            </th>
            <th scope="col">DUARATION</th>
            <th scope="col">UPLOAD</th>
            <th scope="col">EDITED</th>
            <th scope="col">STATUS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="position-relative" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                  <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value1">
                  <label for="styled-checkbox-2 " class="">Project 1</label>
                </div>
                <div class="ms-3">
                  <a href="#">
                    <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                      fill="none">
                      <path
                        d="M15 6H19.5C19.6989 6 19.8897 6.07902 20.0303 6.21967C20.171 6.36032 20.25 6.55109 20.25 6.75C20.25 6.94891 20.171 7.13968 20.0303 7.28033C19.8897 7.42098 19.6989 7.5 19.5 7.5H18.6705L17.5425 17.664C17.4406 18.5813 17.004 19.4288 16.3163 20.0443C15.6285 20.6598 14.738 21.0001 13.815 21H10.185C9.26205 21.0001 8.37148 20.6598 7.68373 20.0443C6.99599 19.4288 6.55939 18.5813 6.4575 17.664L5.328 7.5H4.5C4.30109 7.5 4.11032 7.42098 3.96967 7.28033C3.82902 7.13968 3.75 6.94891 3.75 6.75C3.75 6.55109 3.82902 6.36032 3.96967 6.21967C4.11032 6.07902 4.30109 6 4.5 6H9C9 5.20435 9.31607 4.44129 9.87868 3.87868C10.4413 3.31607 11.2044 3 12 3C12.7956 3 13.5587 3.31607 14.1213 3.87868C14.6839 4.44129 15 5.20435 15 6ZM12 4.5C11.6022 4.5 11.2206 4.65804 10.9393 4.93934C10.658 5.22064 10.5 5.60218 10.5 6H13.5C13.5 5.60218 13.342 5.22064 13.0607 4.93934C12.7794 4.65804 12.3978 4.5 12 4.5ZM9.75 10.5V16.5C9.75 16.6989 9.82902 16.8897 9.96967 17.0303C10.1103 17.171 10.3011 17.25 10.5 17.25C10.6989 17.25 10.8897 17.171 11.0303 17.0303C11.171 16.8897 11.25 16.6989 11.25 16.5V10.5C11.25 10.3011 11.171 10.1103 11.0303 9.96967C10.8897 9.82902 10.6989 9.75 10.5 9.75C10.3011 9.75 10.1103 9.82902 9.96967 9.96967C9.82902 10.1103 9.75 10.3011 9.75 10.5ZM13.5 9.75C13.3011 9.75 13.1103 9.82902 12.9697 9.96967C12.829 10.1103 12.75 10.3011 12.75 10.5V16.5C12.75 16.6989 12.829 16.8897 12.9697 17.0303C13.1103 17.171 13.3011 17.25 13.5 17.25C13.6989 17.25 13.8897 17.171 14.0303 17.0303C14.171 16.8897 14.25 16.6989 14.25 16.5V10.5C14.25 10.3011 14.171 10.1103 14.0303 9.96967C13.8897 9.82902 13.6989 9.75 13.5 9.75Z"
                        fill="#38B3F9" />
                    </svg>
                  </a>
                  <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                      <path
                        d="M13.7282 4.50652L15.4932 6.27069L13.7282 4.50652ZM14.8632 2.95236L10.0907 7.72486C9.84408 7.97111 9.6759 8.28484 9.60734 8.62652L9.1665 10.8332L11.3732 10.3915C11.7148 10.3232 12.0282 10.1557 12.2748 9.90902L17.0473 5.13652C17.1908 4.99311 17.3045 4.82285 17.3821 4.63547C17.4597 4.44809 17.4997 4.24726 17.4997 4.04444C17.4997 3.84162 17.4597 3.64079 17.3821 3.45341C17.3045 3.26603 17.1908 3.09577 17.0473 2.95236C16.9039 2.80894 16.7337 2.69518 16.5463 2.61756C16.3589 2.53995 16.1581 2.5 15.9553 2.5C15.7524 2.5 15.5516 2.53995 15.3642 2.61756C15.1768 2.69518 15.0066 2.80894 14.8632 2.95236V2.95236Z"
                        stroke="#38B3F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      <path
                        d="M15.8333 12.4998V14.9998C15.8333 15.4419 15.6577 15.8658 15.3451 16.1783C15.0325 16.4909 14.6086 16.6665 14.1666 16.6665H4.99992C4.55789 16.6665 4.13397 16.4909 3.82141 16.1783C3.50885 15.8658 3.33325 15.4419 3.33325 14.9998V5.83317C3.33325 5.39114 3.50885 4.96722 3.82141 4.65466C4.13397 4.3421 4.55789 4.1665 4.99992 4.1665H7.49992"
                        stroke="#38B3F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </a>
                </div>
              </div>
            </td>
            <td>00:45:30</td>
            <td>Justnow</td>
            <td>Justnow</td>
            <td class="status">
              <span class="status__bars complete">
                Completed
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="position-relative">
                  <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value1">
                  <label for="styled-checkbox-2 " class="">Project 2</label>
                </div>
              </div>
            </td>
            <td>00:45:30</td>
            <td>Justnow</td>
            <td>Justnow</td>
            <td class="status">
              <span class="status__bars inprogress">
                <span class="line-bar" style="width:50%">50%</span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="position-relative">
                  <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value1">
                  <label for="styled-checkbox-2 " class="">Project 1</label>
                </div>
              </div>
            </td>
            <td>00:45:30</td>
            <td>Justnow</td>
            <td>Justnow</td>
            <td class="status">
              <button type="button" class="btn status__bars remain" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop1">
                Minute now!
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="empty-project d-none">
        <img src="/assets/img/folder-2.png" alt="">
        <p>There are no projects here.</p>
      </div>
    </div>
  </div>
  <nav class="pagination" role="navigation" aria-label="pager">
    <span class="first">
     <a href="/video_converts"></a>
    </span>
      <span class="prev">
      <a rel="prev" href="/video_converts"></a>
      </span>
      <div class="d-flex align-items-center">
          <span class="page">
        <a rel="prev" href="/video_converts">1</a>
      </span>
          <span class="page current">
            <span>2</span>
        </span>
          <span class="page">
        <a rel="next" href="/video_converts?page=3">3</a>
      </span>
          <span class="page">
        <a href="/video_converts?page=4">4</a>
      </span>
    </div>
        <span class="next">
      <a rel="next" href="/video_converts?page=3"></a>
      </span>
        <span class="last">
    <a href="/video_converts?page=4"></a>
  </span>
  </nav>
</section>
<div class="modal  fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdrop1Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-end p-1">
        <button type="button" class="btn btn-close-pop" data-bs-dismiss="modal">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
              d="M12 2C10.0222 2 8.08879 2.58649 6.4443 3.6853C4.79981 4.78412 3.51809 6.3459 2.76121 8.17317C2.00433 10.0004 1.8063 12.0111 2.19215 13.9509C2.578 15.8907 3.53041 17.6725 4.92894 19.0711C6.32746 20.4696 8.10929 21.422 10.0491 21.8079C11.9889 22.1937 13.9996 21.9957 15.8268 21.2388C17.6541 20.4819 19.2159 19.2002 20.3147 17.5557C21.4135 15.9112 22 13.9778 22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7363 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2ZM12 20C10.4178 20 8.87104 19.5308 7.55544 18.6518C6.23985 17.7727 5.21447 16.5233 4.60897 15.0615C4.00347 13.5997 3.84504 11.9911 4.15372 10.4393C4.4624 8.88743 5.22433 7.46197 6.34315 6.34315C7.46197 5.22433 8.88743 4.4624 10.4393 4.15372C11.9911 3.84504 13.5997 4.00346 15.0615 4.60896C16.5233 5.21447 17.7727 6.23984 18.6518 7.55544C19.5308 8.87103 20 10.4177 20 12C20 14.1217 19.1572 16.1566 17.6569 17.6569C16.1566 19.1571 14.1217 20 12 20Z"
              fill="#38B3F9" />
            <path
              d="M14.7099 9.28994C14.617 9.19621 14.5064 9.12182 14.3845 9.07105C14.2627 9.02028 14.132 8.99414 13.9999 8.99414C13.8679 8.99414 13.7372 9.02028 13.6154 9.07105C13.4935 9.12182 13.3829 9.19621 13.2899 9.28994L11.9999 10.5899L10.7099 9.28994C10.5216 9.10164 10.2662 8.99585 9.99994 8.99585C9.73364 8.99585 9.47824 9.10164 9.28994 9.28994C9.10164 9.47824 8.99585 9.73364 8.99585 9.99994C8.99585 10.2662 9.10164 10.5216 9.28994 10.7099L10.5899 11.9999L9.28994 13.2899C9.19621 13.3829 9.12182 13.4935 9.07105 13.6154C9.02028 13.7372 8.99414 13.8679 8.99414 13.9999C8.99414 14.132 9.02028 14.2627 9.07105 14.3845C9.12182 14.5064 9.19621 14.617 9.28994 14.7099C9.3829 14.8037 9.4935 14.8781 9.61536 14.9288C9.73722 14.9796 9.86793 15.0057 9.99994 15.0057C10.132 15.0057 10.2627 14.9796 10.3845 14.9288C10.5064 14.8781 10.617 14.8037 10.7099 14.7099L11.9999 13.4099L13.2899 14.7099C13.3829 14.8037 13.4935 14.8781 13.6154 14.9288C13.7372 14.9796 13.8679 15.0057 13.9999 15.0057C14.132 15.0057 14.2627 14.9796 14.3845 14.9288C14.5064 14.8781 14.617 14.8037 14.7099 14.7099C14.8037 14.617 14.8781 14.5064 14.9288 14.3845C14.9796 14.2627 15.0057 14.132 15.0057 13.9999C15.0057 13.8679 14.9796 13.7372 14.9288 13.6154C14.8781 13.4935 14.8037 13.3829 14.7099 13.2899L13.4099 11.9999L14.7099 10.7099C14.8037 10.617 14.8781 10.5064 14.9288 10.3845C14.9796 10.2627 15.0057 10.132 15.0057 9.99994C15.0057 9.86793 14.9796 9.73722 14.9288 9.61536C14.8781 9.4935 14.8037 9.3829 14.7099 9.28994Z"
              fill="#38B3F9" />
          </svg>
        </button>
      </div>
      <div class="modal-body my-project pt-0">
        <div class="text-center">
          <img src="/assets/img/price-tag-1.png" alt="">
          <h3 class="title">
            Minute Now!
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
          <button class="btn btn-primary">
            Pricing
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal  fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdrop2Label" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header justify-content-end p-1">
        <button type="button" class="btn btn-close-pop" data-bs-dismiss="modal">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
              d="M12 2C10.0222 2 8.08879 2.58649 6.4443 3.6853C4.79981 4.78412 3.51809 6.3459 2.76121 8.17317C2.00433 10.0004 1.8063 12.0111 2.19215 13.9509C2.578 15.8907 3.53041 17.6725 4.92894 19.0711C6.32746 20.4696 8.10929 21.422 10.0491 21.8079C11.9889 22.1937 13.9996 21.9957 15.8268 21.2388C17.6541 20.4819 19.2159 19.2002 20.3147 17.5557C21.4135 15.9112 22 13.9778 22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7363 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2ZM12 20C10.4178 20 8.87104 19.5308 7.55544 18.6518C6.23985 17.7727 5.21447 16.5233 4.60897 15.0615C4.00347 13.5997 3.84504 11.9911 4.15372 10.4393C4.4624 8.88743 5.22433 7.46197 6.34315 6.34315C7.46197 5.22433 8.88743 4.4624 10.4393 4.15372C11.9911 3.84504 13.5997 4.00346 15.0615 4.60896C16.5233 5.21447 17.7727 6.23984 18.6518 7.55544C19.5308 8.87103 20 10.4177 20 12C20 14.1217 19.1572 16.1566 17.6569 17.6569C16.1566 19.1571 14.1217 20 12 20Z"
              fill="#38B3F9" />
            <path
              d="M14.7099 9.28994C14.617 9.19621 14.5064 9.12182 14.3845 9.07105C14.2627 9.02028 14.132 8.99414 13.9999 8.99414C13.8679 8.99414 13.7372 9.02028 13.6154 9.07105C13.4935 9.12182 13.3829 9.19621 13.2899 9.28994L11.9999 10.5899L10.7099 9.28994C10.5216 9.10164 10.2662 8.99585 9.99994 8.99585C9.73364 8.99585 9.47824 9.10164 9.28994 9.28994C9.10164 9.47824 8.99585 9.73364 8.99585 9.99994C8.99585 10.2662 9.10164 10.5216 9.28994 10.7099L10.5899 11.9999L9.28994 13.2899C9.19621 13.3829 9.12182 13.4935 9.07105 13.6154C9.02028 13.7372 8.99414 13.8679 8.99414 13.9999C8.99414 14.132 9.02028 14.2627 9.07105 14.3845C9.12182 14.5064 9.19621 14.617 9.28994 14.7099C9.3829 14.8037 9.4935 14.8781 9.61536 14.9288C9.73722 14.9796 9.86793 15.0057 9.99994 15.0057C10.132 15.0057 10.2627 14.9796 10.3845 14.9288C10.5064 14.8781 10.617 14.8037 10.7099 14.7099L11.9999 13.4099L13.2899 14.7099C13.3829 14.8037 13.4935 14.8781 13.6154 14.9288C13.7372 14.9796 13.8679 15.0057 13.9999 15.0057C14.132 15.0057 14.2627 14.9796 14.3845 14.9288C14.5064 14.8781 14.617 14.8037 14.7099 14.7099C14.8037 14.617 14.8781 14.5064 14.9288 14.3845C14.9796 14.2627 15.0057 14.132 15.0057 13.9999C15.0057 13.8679 14.9796 13.7372 14.9288 13.6154C14.8781 13.4935 14.8037 13.3829 14.7099 13.2899L13.4099 11.9999L14.7099 10.7099C14.8037 10.617 14.8781 10.5064 14.9288 10.3845C14.9796 10.2627 15.0057 10.132 15.0057 9.99994C15.0057 9.86793 14.9796 9.73722 14.9288 9.61536C14.8781 9.4935 14.8037 9.3829 14.7099 9.28994Z"
              fill="#38B3F9" />
          </svg>
        </button>
      </div>
      <div class="modal-body my-project rename pt-0">
        <div class="text-center">
          <h3 class="title">
            Rename
          </h3>
          <input type="text" value="Project 1">
          <button class="btn btn-primary">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>