<section class="new-project">
  <div class="container">
    <div class="text-center">
      <h3 class="title">
        New project
      </h3>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
    </div>
     <div class="new-project__content">
      <div class="progressbar">
        <div class="percent">
          <svg>
            <circle cx="105" cy="105" r="100"> </circle>
            <circle cx="105" cy="105" r="100" style="--percent: 60"></circle>
          </svg>
          <div class="number">
            <h3 class="color-white">60<span>%</span></h3>
          </div>
        </div>
        <h3 class="progressbar__title">Uploading 68%</h3>
       <a href="#" class="progressbar__delete">
        <svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewBox="0 0 58 58" fill="none">
          <path d="M28.9994 0.666504C23.3956 0.666504 17.9176 2.32822 13.2582 5.44153C8.59881 8.55484 4.96726 12.9799 2.82277 18.1571C0.678292 23.3344 0.117198 29.0313 1.21045 34.5274C2.30369 40.0235 5.00218 45.072 8.96467 49.0345C12.9272 52.997 17.9757 55.6955 23.4718 56.7888C28.9679 57.882 34.6648 57.3209 39.8421 55.1764C45.0193 53.0319 49.4444 49.4004 52.5577 44.741C55.671 40.0816 57.3327 34.6036 57.3327 28.9998C57.3327 25.2791 56.5998 21.5947 55.1759 18.1571C53.7521 14.7196 51.665 11.5961 49.034 8.96515C46.4031 6.33415 43.2796 4.24713 39.8421 2.82325C36.4045 1.39937 32.7201 0.666504 28.9994 0.666504ZM36.6777 32.6548C36.9433 32.9182 37.154 33.2316 37.2979 33.5769C37.4417 33.9221 37.5158 34.2925 37.5158 34.6665C37.5158 35.0405 37.4417 35.4109 37.2979 35.7561C37.154 36.1014 36.9433 36.4148 36.6777 36.6782C36.4143 36.9437 36.1009 37.1545 35.7557 37.2984C35.4104 37.4422 35.0401 37.5163 34.666 37.5163C34.292 37.5163 33.9217 37.4422 33.5764 37.2984C33.2311 37.1545 32.9178 36.9437 32.6544 36.6782L28.9994 32.9948L25.3444 36.6782C25.081 36.9437 24.7676 37.1545 24.4223 37.2984C24.0771 37.4422 23.7067 37.5163 23.3327 37.5163C22.9587 37.5163 22.5883 37.4422 22.2431 37.2984C21.8978 37.1545 21.5844 36.9437 21.321 36.6782C21.0555 36.4148 20.8447 36.1014 20.7008 35.7561C20.557 35.4109 20.4829 35.0405 20.4829 34.6665C20.4829 34.2925 20.557 33.9221 20.7008 33.5769C20.8447 33.2316 21.0555 32.9182 21.321 32.6548L25.0044 28.9998L21.321 25.3448C20.7875 24.8113 20.4878 24.0877 20.4878 23.3332C20.4878 22.5786 20.7875 21.855 21.321 21.3215C21.8546 20.788 22.5782 20.4882 23.3327 20.4882C24.0872 20.4882 24.8108 20.788 25.3444 21.3215L28.9994 25.0048L32.6544 21.3215C33.1879 20.788 33.9115 20.4882 34.666 20.4882C35.4206 20.4882 36.1442 20.788 36.6777 21.3215C37.2112 21.855 37.511 22.5786 37.511 23.3332C37.511 24.0877 37.2112 24.8113 36.6777 25.3448L32.9944 28.9998L36.6777 32.6548Z" fill="#C4C4C4"/>
          </svg>
       </a>
      </div>
     </div>
  </div>
</section>