<section class="new-project">
  <div class="container">
    <div class="text-center">
      <h3 class="title">
        New project
      </h3>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
    </div>
     <div class="new-project__content">
        <div class="new-project__content--import">
          <div class="position-relative">
            <input type="text" placeholder="Enter Url">
            <i class="fas fa-link"></i>
          </div>
            <button class="btn btn-primary disabled">Import</button>
        </div>
        <div class="import-btn">
          <input type="text" class="import-btn__file" value="Video0001.mp4">
          <div class="position-relative d-inline-block">
            <input type="file" class="import-btn__upload">
            <button class="btn btn-primary">
              <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M0 12C-2.34822e-08 10.4241 0.310389 8.86371 0.913445 7.4078C1.5165 5.95189 2.40042 4.62902 3.51472 3.51472C4.62902 2.40042 5.95189 1.5165 7.4078 0.913446C8.86371 0.310389 10.4241 0 12 0C13.5759 0 15.1363 0.310389 16.5922 0.913446C18.0481 1.5165 19.371 2.40042 20.4853 3.51472C21.5996 4.62902 22.4835 5.95189 23.0866 7.4078C23.6896 8.86371 24 10.4241 24 12C24 15.1826 22.7357 18.2348 20.4853 20.4853C18.2348 22.7357 15.1826 24 12 24C8.8174 24 5.76515 22.7357 3.51472 20.4853C1.26428 18.2348 4.74244e-08 15.1826 0 12ZM12 6C11.7348 6 11.4804 6.10536 11.2929 6.29289C11.1054 6.48043 11 6.73478 11 7V11H7C6.73478 11 6.48043 11.1054 6.29289 11.2929C6.10536 11.4804 6 11.7348 6 12C6 12.2652 6.10536 12.5196 6.29289 12.7071C6.48043 12.8946 6.73478 13 7 13H11V17C11 17.2652 11.1054 17.5196 11.2929 17.7071C11.4804 17.8946 11.7348 18 12 18C12.2652 18 12.5196 17.8946 12.7071 17.7071C12.8946 17.5196 13 17.2652 13 17V13H17C17.2652 13 17.5196 12.8946 17.7071 12.7071C17.8946 12.5196 18 12.2652 18 12C18 11.7348 17.8946 11.4804 17.7071 11.2929C17.5196 11.1054 17.2652 11 17 11H13V7C13 6.73478 12.8946 6.48043 12.7071 6.29289C12.5196 6.10536 12.2652 6 12 6Z" fill="white"/>
              </svg>
              Upload File</button>
          </div>
        </div>
        <div class="select-option">
          <div class="row">
            <div class="col-xl-4">
              <div class="position-relative custom-select">
                <select class="select-1" name="state">
                  <option value="AL">Alabama</option>
                  <option value="AL">Alabama</option>
                  <option value="AL">Alabama</option>
                  <option value="WY">Wyoming</option>
                </select>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="position-relative custom-select">
                <select class="select-2" name="state">
                  <option value="AL">English <span class="sub-available">(Available)</span></option>
                  <option value="AL">Vietnamese <span class="sub-available">(Available)</span></option>
                  <option value="AL">Alabama</option>
                  <option value="WY">Wyoming</option>
                  <option value="AL">Alabama</option>
                  <option value="WY">Wyoming</option>
                  <option value="AL">Alabama</option>
                  <option value="WY">Wyoming</option>
                  <option value="AL">Alabama</option>
                  <option value="WY">Wyoming</option>
                  <option value="AL">Alabama</option>
                  <option value="WY">Wyoming</option>
                  <option value="AL">Alabama</option>
                  <option value="WY">Wyoming</option>
                  <option value="AL">Alabama</option>
                  <option value="WY">Wyoming</option>
                  <option value="AL">Alabama</option>
                  <option value="WY">Wyoming</option>
                  <option value="AL">Alabama</option>
                  <option value="WY">Wyoming</option>
                  <option value="AL">Alabama</option>
                  <option value="WY">Wyoming</option>
                  <option value="AL">Alabama</option>
                  <option value="WY">Wyoming</option>

                </select>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="position-relative custom-select">
                <select class="select-3" name="state">
                  <option value="AL">Male 1</option>
                  <option value="AL">Male 2</option>
                  <option value="AL">Female 1</option>
                  <option value="WY">Female 2</option>
                </select>
                <div class="translate-main__option">
                    <div class="voice-name">Male 2</div>
                    <div id="range-sliders" class="range-sliders">
                      <div class="range-slider-group range-slider-group-red">
                          <label for="">Voice</label>
                          <input type="range" min="0" max="255" value="155"  class="range-slider range-slider-red" id="range-slider-red" />
                          <span class="number-range">200</span>
                      </div>
                      <div class="range-slider-group range-slider-group-red">
                          <label for="">Pitch</label>
                          <input type="range" min="0" max="255" value="155" class="range-slider range-slider-red" id="range-slider-red" />
                          <span class="number-range">200</span>
                      </div>
                      <div class="d-flex align-items-center justify-content-between">
                          <button class="btn btn-success w-100 me-1">Listen</button>
                          <button class="btn btn-primary w-100 ms-1">Save</button>
                      </div>
                   </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="submit-btn">
          <button class="btn btn-submit">Submit</button>
        </div>
     </div>
  </div>
</section>