<section class="price">
  <div class="container container-xl">
    <div class="text-center bread">
        <h3 class="title">
          Choose the Google One plan that's right for you
        </h3>
      <p class="description">All Aitranslate Accounts give you 20 minutes of storage. 
        By upgrading to a Aitranslate plan, you agree to the <span class="color-primary">Aitranslate Terms of Service.</span> 
        Note: <span class="color-primary"> The Aitranslate Privacy Policy</span> describes how data is handled in this service.</p>
    </div>
    <div class="price__content">
      <div class="row">
        <div class="col-lg-6">
          <div class="bg-card cl-card">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Free</th>
                  <th scope="col">Premium</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Video interpet</td>
                  <td>
                  <p class="mb-0 text-hight">2 hours</p>
                  </td>
                  <td>
                    <p class="mb-0 text-hight">2 hours</p>
                  </td>
                </tr>
                <tr>
                  <td>Audio interpet </td>
                  <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="26" viewBox="0 0 34 26" fill="none">
                    <path d="M29.2094 0.909802C29.4141 0.7009 29.6585 0.534944 29.9282 0.42165C30.1978 0.308356 30.4874 0.25 30.7799 0.25C31.0724 0.25 31.362 0.308356 31.6316 0.42165C31.9013 0.534944 32.1457 0.7009 32.3504 0.909802C33.2084 1.7768 33.2204 3.1778 32.3804 4.0598L14.6414 25.0298C14.44 25.251 14.1956 25.4287 13.9231 25.5522C13.6507 25.6756 13.3559 25.7422 13.0568 25.7478C12.7578 25.7534 12.4607 25.698 12.1838 25.5848C11.9069 25.4717 11.656 25.3032 11.4464 25.0898L0.652406 14.1518C0.236117 13.7273 0.00292969 13.1564 0.00292969 12.5618C0.00292969 11.9672 0.236117 11.3963 0.652406 10.9718C0.857143 10.7629 1.1015 10.5969 1.37117 10.4836C1.64084 10.3704 1.9304 10.312 2.22291 10.312C2.51541 10.312 2.80497 10.3704 3.07464 10.4836C3.34431 10.5969 3.58867 10.7629 3.79341 10.9718L12.9494 20.2508L29.1494 0.975802C29.1681 0.952617 29.1881 0.930577 29.2094 0.909802Z" fill="#009C3E"/>
                    </svg>
                  </td>
                  <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M3.45034 0.62197C3.07314 0.257654 2.56793 0.0560656 2.04354 0.0606225C1.51915 0.0651793 1.01752 0.275518 0.646705 0.646334C0.275889 1.01715 0.0655502 1.51877 0.0609934 2.04317C0.0564365 2.56756 0.258025 3.07277 0.622341 3.44997L12.1723 15L0.620342 26.55C0.429321 26.7345 0.276956 26.9552 0.172138 27.1992C0.0673204 27.4432 0.0121488 27.7056 0.00984114 27.9712C0.00753351 28.2367 0.0581365 28.5001 0.158698 28.7459C0.25926 28.9917 0.407766 29.215 0.595552 29.4028C0.783337 29.5905 1.00664 29.7391 1.25243 29.8396C1.49823 29.9402 1.76159 29.9908 2.02714 29.9885C2.2927 29.9862 2.55514 29.931 2.79915 29.8262C3.04316 29.7214 3.26385 29.569 3.44834 29.378L15.0003 17.828L26.5503 29.378C26.9275 29.7423 27.4328 29.9439 27.9571 29.9393C28.4815 29.9348 28.9832 29.7244 29.354 29.3536C29.7248 28.9828 29.9351 28.4812 29.9397 27.9568C29.9442 27.4324 29.7427 26.9272 29.3783 26.55L17.8283 15L29.3783 3.44997C29.7427 3.07277 29.9442 2.56756 29.9397 2.04317C29.9351 1.51877 29.7248 1.01715 29.354 0.646334C28.9832 0.275518 28.4815 0.0651793 27.9571 0.0606225C27.4328 0.0560656 26.9275 0.257654 26.5503 0.62197L15.0003 12.172L3.45034 0.619971V0.62197Z" fill="#DF2C2C"/>
                    </svg>
                  </td>
                </tr>
                <tr>
                  <td>Watermark </td>
                  <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="26" viewBox="0 0 34 26" fill="none">
                    <path d="M29.2094 0.909802C29.4141 0.7009 29.6585 0.534944 29.9282 0.42165C30.1978 0.308356 30.4874 0.25 30.7799 0.25C31.0724 0.25 31.362 0.308356 31.6316 0.42165C31.9013 0.534944 32.1457 0.7009 32.3504 0.909802C33.2084 1.7768 33.2204 3.1778 32.3804 4.0598L14.6414 25.0298C14.44 25.251 14.1956 25.4287 13.9231 25.5522C13.6507 25.6756 13.3559 25.7422 13.0568 25.7478C12.7578 25.7534 12.4607 25.698 12.1838 25.5848C11.9069 25.4717 11.656 25.3032 11.4464 25.0898L0.652406 14.1518C0.236117 13.7273 0.00292969 13.1564 0.00292969 12.5618C0.00292969 11.9672 0.236117 11.3963 0.652406 10.9718C0.857143 10.7629 1.1015 10.5969 1.37117 10.4836C1.64084 10.3704 1.9304 10.312 2.22291 10.312C2.51541 10.312 2.80497 10.3704 3.07464 10.4836C3.34431 10.5969 3.58867 10.7629 3.79341 10.9718L12.9494 20.2508L29.1494 0.975802C29.1681 0.952617 29.1881 0.930577 29.2094 0.909802Z" fill="#009C3E"/>
                    </svg>
                  </td>
                  <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M3.45034 0.62197C3.07314 0.257654 2.56793 0.0560656 2.04354 0.0606225C1.51915 0.0651793 1.01752 0.275518 0.646705 0.646334C0.275889 1.01715 0.0655502 1.51877 0.0609934 2.04317C0.0564365 2.56756 0.258025 3.07277 0.622341 3.44997L12.1723 15L0.620342 26.55C0.429321 26.7345 0.276956 26.9552 0.172138 27.1992C0.0673204 27.4432 0.0121488 27.7056 0.00984114 27.9712C0.00753351 28.2367 0.0581365 28.5001 0.158698 28.7459C0.25926 28.9917 0.407766 29.215 0.595552 29.4028C0.783337 29.5905 1.00664 29.7391 1.25243 29.8396C1.49823 29.9402 1.76159 29.9908 2.02714 29.9885C2.2927 29.9862 2.55514 29.931 2.79915 29.8262C3.04316 29.7214 3.26385 29.569 3.44834 29.378L15.0003 17.828L26.5503 29.378C26.9275 29.7423 27.4328 29.9439 27.9571 29.9393C28.4815 29.9348 28.9832 29.7244 29.354 29.3536C29.7248 28.9828 29.9351 28.4812 29.9397 27.9568C29.9442 27.4324 29.7427 26.9272 29.3783 26.55L17.8283 15L29.3783 3.44997C29.7427 3.07277 29.9442 2.56756 29.9397 2.04317C29.9351 1.51877 29.7248 1.01715 29.354 0.646334C28.9832 0.275518 28.4815 0.0651793 27.9571 0.0606225C27.4328 0.0560656 26.9275 0.257654 26.5503 0.62197L15.0003 12.172L3.45034 0.619971V0.62197Z" fill="#DF2C2C"/>
                    </svg>
                  </td>
                </tr>
                <tr>
                  <td>Video lengh </td>
                  <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="26" viewBox="0 0 34 26" fill="none">
                    <path d="M29.2094 0.909802C29.4141 0.7009 29.6585 0.534944 29.9282 0.42165C30.1978 0.308356 30.4874 0.25 30.7799 0.25C31.0724 0.25 31.362 0.308356 31.6316 0.42165C31.9013 0.534944 32.1457 0.7009 32.3504 0.909802C33.2084 1.7768 33.2204 3.1778 32.3804 4.0598L14.6414 25.0298C14.44 25.251 14.1956 25.4287 13.9231 25.5522C13.6507 25.6756 13.3559 25.7422 13.0568 25.7478C12.7578 25.7534 12.4607 25.698 12.1838 25.5848C11.9069 25.4717 11.656 25.3032 11.4464 25.0898L0.652406 14.1518C0.236117 13.7273 0.00292969 13.1564 0.00292969 12.5618C0.00292969 11.9672 0.236117 11.3963 0.652406 10.9718C0.857143 10.7629 1.1015 10.5969 1.37117 10.4836C1.64084 10.3704 1.9304 10.312 2.22291 10.312C2.51541 10.312 2.80497 10.3704 3.07464 10.4836C3.34431 10.5969 3.58867 10.7629 3.79341 10.9718L12.9494 20.2508L29.1494 0.975802C29.1681 0.952617 29.1881 0.930577 29.2094 0.909802Z" fill="#009C3E"/>
                    </svg>
                  </td>
                  <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M3.45034 0.62197C3.07314 0.257654 2.56793 0.0560656 2.04354 0.0606225C1.51915 0.0651793 1.01752 0.275518 0.646705 0.646334C0.275889 1.01715 0.0655502 1.51877 0.0609934 2.04317C0.0564365 2.56756 0.258025 3.07277 0.622341 3.44997L12.1723 15L0.620342 26.55C0.429321 26.7345 0.276956 26.9552 0.172138 27.1992C0.0673204 27.4432 0.0121488 27.7056 0.00984114 27.9712C0.00753351 28.2367 0.0581365 28.5001 0.158698 28.7459C0.25926 28.9917 0.407766 29.215 0.595552 29.4028C0.783337 29.5905 1.00664 29.7391 1.25243 29.8396C1.49823 29.9402 1.76159 29.9908 2.02714 29.9885C2.2927 29.9862 2.55514 29.931 2.79915 29.8262C3.04316 29.7214 3.26385 29.569 3.44834 29.378L15.0003 17.828L26.5503 29.378C26.9275 29.7423 27.4328 29.9439 27.9571 29.9393C28.4815 29.9348 28.9832 29.7244 29.354 29.3536C29.7248 28.9828 29.9351 28.4812 29.9397 27.9568C29.9442 27.4324 29.7427 26.9272 29.3783 26.55L17.8283 15L29.3783 3.44997C29.7427 3.07277 29.9442 2.56756 29.9397 2.04317C29.9351 1.51877 29.7248 1.01715 29.354 0.646334C28.9832 0.275518 28.4815 0.0651793 27.9571 0.0606225C27.4328 0.0560656 26.9275 0.257654 26.5503 0.62197L15.0003 12.172L3.45034 0.619971V0.62197Z" fill="#DF2C2C"/>
                    </svg>
                  </td>
                </tr>
                <tr>
                  <td>Unlimit download</td>
                  <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="26" viewBox="0 0 34 26" fill="none">
                    <path d="M29.2094 0.909802C29.4141 0.7009 29.6585 0.534944 29.9282 0.42165C30.1978 0.308356 30.4874 0.25 30.7799 0.25C31.0724 0.25 31.362 0.308356 31.6316 0.42165C31.9013 0.534944 32.1457 0.7009 32.3504 0.909802C33.2084 1.7768 33.2204 3.1778 32.3804 4.0598L14.6414 25.0298C14.44 25.251 14.1956 25.4287 13.9231 25.5522C13.6507 25.6756 13.3559 25.7422 13.0568 25.7478C12.7578 25.7534 12.4607 25.698 12.1838 25.5848C11.9069 25.4717 11.656 25.3032 11.4464 25.0898L0.652406 14.1518C0.236117 13.7273 0.00292969 13.1564 0.00292969 12.5618C0.00292969 11.9672 0.236117 11.3963 0.652406 10.9718C0.857143 10.7629 1.1015 10.5969 1.37117 10.4836C1.64084 10.3704 1.9304 10.312 2.22291 10.312C2.51541 10.312 2.80497 10.3704 3.07464 10.4836C3.34431 10.5969 3.58867 10.7629 3.79341 10.9718L12.9494 20.2508L29.1494 0.975802C29.1681 0.952617 29.1881 0.930577 29.2094 0.909802Z" fill="#009C3E"/>
                    </svg>
                  </td>
                  <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M3.45034 0.62197C3.07314 0.257654 2.56793 0.0560656 2.04354 0.0606225C1.51915 0.0651793 1.01752 0.275518 0.646705 0.646334C0.275889 1.01715 0.0655502 1.51877 0.0609934 2.04317C0.0564365 2.56756 0.258025 3.07277 0.622341 3.44997L12.1723 15L0.620342 26.55C0.429321 26.7345 0.276956 26.9552 0.172138 27.1992C0.0673204 27.4432 0.0121488 27.7056 0.00984114 27.9712C0.00753351 28.2367 0.0581365 28.5001 0.158698 28.7459C0.25926 28.9917 0.407766 29.215 0.595552 29.4028C0.783337 29.5905 1.00664 29.7391 1.25243 29.8396C1.49823 29.9402 1.76159 29.9908 2.02714 29.9885C2.2927 29.9862 2.55514 29.931 2.79915 29.8262C3.04316 29.7214 3.26385 29.569 3.44834 29.378L15.0003 17.828L26.5503 29.378C26.9275 29.7423 27.4328 29.9439 27.9571 29.9393C28.4815 29.9348 28.9832 29.7244 29.354 29.3536C29.7248 28.9828 29.9351 28.4812 29.9397 27.9568C29.9442 27.4324 29.7427 26.9272 29.3783 26.55L17.8283 15L29.3783 3.44997C29.7427 3.07277 29.9442 2.56756 29.9397 2.04317C29.9351 1.51877 29.7248 1.01715 29.354 0.646334C28.9832 0.275518 28.4815 0.0651793 27.9571 0.0606225C27.4328 0.0560656 26.9275 0.257654 26.5503 0.62197L15.0003 12.172L3.45034 0.619971V0.62197Z" fill="#DF2C2C"/>
                    </svg>
                  </td>
                </tr>
                <tr>
                  <td>Export quality <span class="label-cover">(4K/320kbps - lossless)</span></td>
                  <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="26" viewBox="0 0 34 26" fill="none">
                    <path d="M29.2094 0.909802C29.4141 0.7009 29.6585 0.534944 29.9282 0.42165C30.1978 0.308356 30.4874 0.25 30.7799 0.25C31.0724 0.25 31.362 0.308356 31.6316 0.42165C31.9013 0.534944 32.1457 0.7009 32.3504 0.909802C33.2084 1.7768 33.2204 3.1778 32.3804 4.0598L14.6414 25.0298C14.44 25.251 14.1956 25.4287 13.9231 25.5522C13.6507 25.6756 13.3559 25.7422 13.0568 25.7478C12.7578 25.7534 12.4607 25.698 12.1838 25.5848C11.9069 25.4717 11.656 25.3032 11.4464 25.0898L0.652406 14.1518C0.236117 13.7273 0.00292969 13.1564 0.00292969 12.5618C0.00292969 11.9672 0.236117 11.3963 0.652406 10.9718C0.857143 10.7629 1.1015 10.5969 1.37117 10.4836C1.64084 10.3704 1.9304 10.312 2.22291 10.312C2.51541 10.312 2.80497 10.3704 3.07464 10.4836C3.34431 10.5969 3.58867 10.7629 3.79341 10.9718L12.9494 20.2508L29.1494 0.975802C29.1681 0.952617 29.1881 0.930577 29.2094 0.909802Z" fill="#009C3E"/>
                    </svg>
                  </td>
                  <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M3.45034 0.62197C3.07314 0.257654 2.56793 0.0560656 2.04354 0.0606225C1.51915 0.0651793 1.01752 0.275518 0.646705 0.646334C0.275889 1.01715 0.0655502 1.51877 0.0609934 2.04317C0.0564365 2.56756 0.258025 3.07277 0.622341 3.44997L12.1723 15L0.620342 26.55C0.429321 26.7345 0.276956 26.9552 0.172138 27.1992C0.0673204 27.4432 0.0121488 27.7056 0.00984114 27.9712C0.00753351 28.2367 0.0581365 28.5001 0.158698 28.7459C0.25926 28.9917 0.407766 29.215 0.595552 29.4028C0.783337 29.5905 1.00664 29.7391 1.25243 29.8396C1.49823 29.9402 1.76159 29.9908 2.02714 29.9885C2.2927 29.9862 2.55514 29.931 2.79915 29.8262C3.04316 29.7214 3.26385 29.569 3.44834 29.378L15.0003 17.828L26.5503 29.378C26.9275 29.7423 27.4328 29.9439 27.9571 29.9393C28.4815 29.9348 28.9832 29.7244 29.354 29.3536C29.7248 28.9828 29.9351 28.4812 29.9397 27.9568C29.9442 27.4324 29.7427 26.9272 29.3783 26.55L17.8283 15L29.3783 3.44997C29.7427 3.07277 29.9442 2.56756 29.9397 2.04317C29.9351 1.51877 29.7248 1.01715 29.354 0.646334C28.9832 0.275518 28.4815 0.0651793 27.9571 0.0606225C27.4328 0.0560656 26.9275 0.257654 26.5503 0.62197L15.0003 12.172L3.45034 0.619971V0.62197Z" fill="#DF2C2C"/>
                    </svg>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="price__content--item bg-card cl-card">
              <div class="row">
                <div class="col-8">
                  <h5 class="date">5 HOURS/MONTH</h3>
                  <h3 class="item-price">39.00 USD<span>/month</span></h3>
                  <p class="description">374.40 USD <span>every</span> 12 <span>months</span></p>
                  <p class="method">*Prepay annually <span>(save 20%)</span></p>
                </div>
                <div class="col-4 d-flex align-items-center justify-content-center">
                  <button class="btn btn-primary">Subcribse now</button>
                </div>
              </div>
          </div>
          <div class="price__content--item bg-card cl-card">
            <div class="row">
              <div class="col-8">
                <h5 class="date">10 HOURS/MONTH</h3>
                <h3 class="item-price">59.00 USD<span>/month</span></h3>
                <p class="description">574.40 USD <span>every</span> 12 <span>months</span></p>
                <p class="method">*Prepay annually <span>(save 20%)</span></p>
              </div>
              <div class="col-4 d-flex align-items-center justify-content-center">
                <button class="btn btn-primary">Subcribse now</button>
              </div>
            </div>
        </div>
        <div class="price__content--item bg-card cl-card">
          <div class="row">
            <div class="col-8">
              <h5 class="date">20 HOURS/MONTH</h3>
              <h3 class="item-price">109.00 USD<span>/month</span></h3>
              <p class="description">1,374.40 USD <span>every</span> 12 <span>months</span></p>
              <p class="method">*Prepay annually <span>(save 20%)</span></p>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-center">
              <button class="btn btn-primary">Subcribse now</button>
            </div>
          </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</section>