<section class="sign sign-in">
  <div class="container"> 
      <h3 class="sign__title color-white text-center">
        Let’s get start, now!
      </h3>
      <div class="sign__content">
          <img class="sign__content--logo" src="/assets/img/logo-white.png"/>

          <form>
            <div class="mb-4">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" placeholder="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-2">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" placeholder="Password" class="form-control" id="exampleInputPassword1">
            </div>
            <a class="forgot-pass" href="">
              Forgot password?
            </a>
          
            <button type="submit" class="btn btn-primary">Sign In</button>
            <button type="submit" class="btn btn-google d-flex align-items-center">
                <img src="/assets/img/ico-google.png" alt="">
                Login with Google
            </button>
          </form>
          
      </div>
  </div>
</section>