<section class="sign sign-up-send">
  <div class="container"> 
      <div class="sign-up-send__content">
            <div class="sign-up-send__content--ico text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" viewBox="0 0 90 90" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M89.7973 3.85882C90.0019 3.34771 90.052 2.7878 89.9414 2.24849C89.8307 1.70919 89.5643 1.21421 89.175 0.824923C88.7857 0.435636 88.2907 0.16916 87.7514 0.058531C87.2121 -0.0520984 86.6522 -0.00201617 86.1411 0.202569L4.3142 32.9344H4.30857L1.76607 33.9469C1.28452 34.139 0.865429 34.4605 0.555098 34.8758C0.244768 35.2911 0.0552741 35.7841 0.00754858 36.3004C-0.040177 36.8166 0.0557233 37.336 0.284656 37.8012C0.513589 38.2664 0.866644 38.6592 1.30482 38.9363L3.61107 40.3988L3.6167 40.4101L31.7136 58.2863L40.6573 72.3376C44.9998 78.7501 44.9998 73.1251 44.9998 70.3126C44.9992 66.7384 45.7554 63.2046 47.2189 59.9437C48.6823 56.6828 50.8197 53.7689 53.4905 51.3936C56.1612 49.0183 59.3047 47.2355 62.7141 46.1626C66.1235 45.0897 69.7214 44.751 73.2711 45.1688L89.7973 3.85882ZM79.4867 14.4901L82.1361 7.86382L75.5098 10.5132L33.3561 52.6669L35.2573 53.8763C35.6062 54.0979 35.902 54.3937 36.1236 54.7426L37.333 56.6438L79.4867 14.4901ZM89.9998 70.3126C89.9998 75.534 87.9256 80.5416 84.2335 84.2337C80.5414 87.9258 75.5338 90.0001 70.3123 90.0001C65.0909 90.0001 60.0833 87.9258 56.3912 84.2337C52.699 80.5416 50.6248 75.534 50.6248 70.3126C50.6248 65.0911 52.699 60.0835 56.3912 56.3914C60.0833 52.6993 65.0909 50.6251 70.3123 50.6251C75.5338 50.6251 80.5414 52.6993 84.2335 56.3914C87.9256 60.0835 89.9998 65.0911 89.9998 70.3126ZM78.7892 60.8682C79.1061 61.058 79.3826 61.3084 79.6028 61.605C79.8229 61.9017 79.9825 62.2388 80.0723 62.5971C80.1622 62.9555 80.1805 63.328 80.1264 63.6934C80.0722 64.0589 79.9466 64.4101 79.7567 64.7269L72.2473 77.2482C71.9173 77.7983 71.4662 78.2659 70.9283 78.6154C70.3904 78.965 69.7799 79.1873 69.1432 79.2654C68.5065 79.3435 67.8603 79.2753 67.2539 79.0661C66.6475 78.857 66.0967 78.5122 65.6436 78.0582L61.2898 73.7101C60.7617 73.182 60.465 72.4657 60.465 71.7188C60.465 70.972 60.7617 70.2557 61.2898 69.7276C61.8179 69.1995 62.5342 68.9028 63.2811 68.9028C64.0279 68.9028 64.7442 69.1995 65.2723 69.7276L68.3492 72.8101L74.9305 61.8357C75.1202 61.5187 75.3706 61.2423 75.6673 61.0221C75.9639 60.802 76.3011 60.6424 76.6594 60.5526C77.0177 60.4627 77.3903 60.4444 77.7557 60.4985C78.1211 60.5527 78.4723 60.6783 78.7892 60.8682Z" fill="#0BA174"/>
                </svg>
            </div>
            <div class="notice">
              <p class="notice__label">An email has been sent to:
              </p>
              <p class="notice__email">username@gmail.com</p>
            </div>
            <p class="description">Please click on the link in the email to activate your emal</p>
            <a href="#" class="back-action">Go back</a>
            <a href="#" class="resend">Resend veritification email </a>
      </div>
  </div>
</section>