<section class="top-page">
  <div class="container">
    <div class="top-page__head">
      <div class="text-center">
        <h3 class="top-page__title">
          Join with <span>Us!</span>
        </h3>
        <p class="top-page__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <button class="btn btn-primary d-flex align-items-center">
          Learn more 
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
            <path d="M1.66659 11.3333H17.4799L12.6399 17.1467C12.5279 17.2815 12.4434 17.4371 12.3915 17.6045C12.3396 17.7719 12.3211 17.948 12.3372 18.1226C12.3697 18.4751 12.541 18.8003 12.8132 19.0267C13.0855 19.253 13.4366 19.3619 13.7891 19.3294C14.1417 19.2968 14.4669 19.1256 14.6933 18.8533L21.3599 10.8533C21.4048 10.7897 21.4449 10.7228 21.4799 10.6533C21.4799 10.5867 21.5466 10.5467 21.5732 10.48C21.6337 10.3271 21.6653 10.1644 21.6666 9.99999C21.6653 9.83561 21.6337 9.67287 21.5732 9.51999C21.5732 9.45333 21.5066 9.41333 21.4799 9.34666C21.4449 9.27714 21.4048 9.21029 21.3599 9.14666L14.6933 1.14666C14.5679 0.996149 14.4109 0.875109 14.2335 0.792147C14.056 0.709186 13.8625 0.666341 13.6666 0.666659C13.355 0.66605 13.0531 0.774551 12.8132 0.973326C12.6782 1.08526 12.5666 1.22273 12.4848 1.37785C12.403 1.53298 12.3526 1.70273 12.3365 1.87736C12.3204 2.052 12.3389 2.2281 12.391 2.39557C12.4431 2.56304 12.5276 2.71859 12.6399 2.85333L17.4799 8.66666H1.66659C1.31296 8.66666 0.973825 8.80714 0.723776 9.05718C0.473728 9.30723 0.333252 9.64637 0.333252 9.99999C0.333252 10.3536 0.473728 10.6928 0.723776 10.9428C0.973825 11.1929 1.31296 11.3333 1.66659 11.3333Z" fill="white"/>
            </svg>
        </button>
      </div>
    </div>
    <div class="top-page__video">
      <div class="row">
        <div class="col-lg-9 col-md-10 m-auto">
          <div class="top-page__video--frame">
            <!-- thay thế tạm thời bằng hình ảnh -->
            <img src="/assets/img/img-video.png" alt="" class="mx-100 w-100">
          </div>
          <div class="top-page__video--languages bg-card cl-card">
            <div class="language-item">
              <img src="/assets/img/eng-flag.png" alt="" class="language-item__flag">
              <p class="mb-0">English</p>
            </div> <div class="language-item">
              <img src="/assets/img/eng-flag.png" alt="" class="language-item__flag">
              <p class="mb-0">English</p>
            </div> <div class="language-item">
              <img src="/assets/img/eng-flag.png" alt="" class="language-item__flag">
              <p class="mb-0">English</p>
            </div> <div class="language-item">
              <img src="/assets/img/eng-flag.png" alt="" class="language-item__flag">
              <p class="mb-0">English</p>
            </div> <div class="language-item">
              <img src="/assets/img/eng-flag.png" alt="" class="language-item__flag">
              <p class="mb-0">English</p>
            </div> <div class="language-item">
              <img src="/assets/img/eng-flag.png" alt="" class="language-item__flag">
              <p class="mb-0">English</p>
            </div> <div class="language-item">
              <img src="/assets/img/eng-flag.png" alt="" class="language-item__flag">
              <p class="mb-0">English</p>
            </div> <div class="language-item">
              <img src="/assets/img/eng-flag.png" alt="" class="language-item__flag">
              <p class="mb-0">English</p>
            </div> <div class="language-item">
              <img src="/assets/img/eng-flag.png" alt="" class="language-item__flag">
              <p class="mb-0">English</p>
            </div> <div class="language-item">
              <img src="/assets/img/eng-flag.png" alt="" class="language-item__flag">
              <p class="mb-0">English</p>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="audio-view__control">
          <div class="audio-view__control--item">
              <label for="" class="d-block">
                Voiceover sound
              </label>
              <input type="range" min="0" max="255" value="155" class="range-slider range-slider-red" id="range-slider-red">
          </div>
          <div class="audio-view__control--item">
            <label for="" class="d-block">
                Source sound
            </label>
            <input type="range" min="0" max="255" value="155" class="range-slider range-slider-red" id="range-slider-red">
        </div>
        <div class="audio-view__control--item">
            <label for="" class="d-block">
                Background sound
            </label>
            <div class="position-relative">
                <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                <label for="styled-checkbox-1"></label>
            </div>
        </div>
        <div class="audio-view__control--item">
            <label for="" class="d-block">
                Source subtitles
            </label>
            <div class="position-relative">
                <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                <label for="styled-checkbox-1"></label>
            </div>
        </div>
        <div class="audio-view__control--item">
            <label for="" class="d-block">
                Translated subtitles
            </label>
            <div class="position-relative">
                <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                <label for="styled-checkbox-1"></label>
            </div>
        </div>
      </div>
      </div>
    </div>
    <div class="top-page__about">
      <div class="text-center">
          <h3 class="top-page__about--title">Aitranslate.org</h3>
          <p class="top-page__about--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dignissim donec adipiscing sapien commodo. Consectetur et eu fusce consectetur amet. Quis a in diam aliquam pellentesque pretium hendrerit. Enim consequat aliquam est duis sapien. </p>
      </div>
      <div class="row">
        <div class="col-md-4 top-page__about--item">
          <h3 class="title">Lorem ipsum dolor sit amet</h3>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est iaculis placerat dui aliquet urna egestas quam sed. Hac enim viverra mollis id. Consectetur ipsum eu eleifend nisl urna ultrices libero viverra nunc. Aliquam integer ullamcorper massa tempor nulla nulla proin. Cras massa non sit pretium nec. Sollicitudin id sapien porta vel nec, orci fames. Sem mauris, semper enim euismod nullam faucibus. Nunc, quis pellentesque odio massa. Tellus egestas sed lacus adipiscing consectetur tincidunt metus, eu. Pretium cursus viverra integer accumsan id diam nunc sem facilisi. </p>
        </div>
        <div class="col-md-4 top-page__about--item">
          <h3 class="title">Lorem ipsum dolor sit amet</h3>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est iaculis placerat dui aliquet urna egestas quam sed. Hac enim viverra mollis id. Consectetur ipsum eu eleifend nisl urna ultrices libero viverra nunc. Aliquam integer ullamcorper massa tempor nulla nulla proin. Cras massa non sit pretium nec. Sollicitudin id sapien porta vel nec, orci fames. Sem mauris, semper enim euismod nullam faucibus. Nunc, quis pellentesque odio massa. Tellus egestas sed lacus adipiscing consectetur tincidunt metus, eu. Pretium cursus viverra integer accumsan id diam nunc sem facilisi. </p>
        </div>
        <div class="col-md-4 top-page__about--item">
          <h3 class="title">Lorem ipsum dolor sit amet</h3>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est iaculis placerat dui aliquet urna egestas quam sed. Hac enim viverra mollis id. Consectetur ipsum eu eleifend nisl urna ultrices libero viverra nunc. Aliquam integer ullamcorper massa tempor nulla nulla proin. Cras massa non sit pretium nec. Sollicitudin id sapien porta vel nec, orci fames. Sem mauris, semper enim euismod nullam faucibus. Nunc, quis pellentesque odio massa. Tellus egestas sed lacus adipiscing consectetur tincidunt metus, eu. Pretium cursus viverra integer accumsan id diam nunc sem facilisi. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer text-center">
  <div class="container">
    <img src="/assets/img/logo.png" alt="" class="footer__logo">
    <h3 class="footer__brand">Aitranslate</h3>
    <p class="footer__description">It’s free, and takes less than a minute! </p>
    <div class="btn btn-primary">Sign up</div>
    <div class="d-flex align-item-center justify-content-center">
      <a href="#" class="footer__item ">ABOUT</a>
      <a href="#" class="footer__item">TERM</a>
      <a href="#" class="footer__item">CONTACT</a>
    </div>
  </div>
</footer>