<section class="download">
    <div class="container container-xl">
        <div class="text-center bread">
            <h3 class="title">
                Your video is ready to be downloaded!
            </h3>
        </div>
        <div class="download__content">
            <img src="/assets/img/img-video.png" alt="" class="mx-100 w-100">
            <div class="download__content--video">
                <button class="btn btn-primary">Download video</button>
                <button class="btn btn-back">Go back to file</button>
            </div>
        </div>
    </div>
</section>